.wrapper {
    padding: 5rem 0;
    height: 26rem;
    background: linear-gradient(
        rgba(100, 100, 100, 0.1),
        rgba(255, 208, 208, 0.1)
      ),
      url("../../../../assets/images/blue_skyline.svg");
    background-size: cover;
    background-position: 10% 32%;
    // position: fixed;
    // overflow: hidden;
    // width: 100%;
    // z-index: -1;
    // pointer-events: none;
    .heading {
        color: #f7943d;
        font-size: 2rem;
        font-weight: 700;
        text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 2px 0px 1px rgba(2, 20, 43, 0.3);
        // text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(0, 110, 255, 0.3);
    }
}