<div class="form-wrapper">
  <p class="heading text-center">Schedule a Buyer Consultation, TODAY!</p>
  <div class="container form-container">
    <form [formGroup]="buyerForm" (ngSubmit)="submitForm(buyerForm)" novalidate="">
      <div class="mb-4">
        <label for="buyerName">Buyer</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="buyerName" placeholder="Buyer Name" name="buyerName"
            formControlName="buyerName" required />
        </div>
        <div class="text-center" *ngIf="bf.buyerName.touched && bf.buyerName.errors?.required">
          <div class="text-danger py-1">Buyer name is required.</div>
        </div>
      </div>
      <div class="mb-4">
        <label for="coBuyerName">Co-Buyer <span class="text-muted">(If Applicable)</span>
        </label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="coBuyerName" placeholder="Co-Buyer Name" name="coBuyerName"
            formControlName="coBuyerName" />
        </div>
      </div>
      <div class="mb-4">
        <label for="buyerEmail">Buyer Email</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="email" class="form-control" id="buyerEmail" placeholder="you@example.com" name="email"
            formControlName="buyerEmail" required />
        </div>
        <div class="text-center" *ngIf="bf.buyerEmail.touched && bf.buyerEmail.errors?.required">
          <div class="text-danger py-1">Buyer email is required.</div>
        </div>
        <div class="text-center" *ngIf="bf.buyerEmail.dirty">
          <div class="text-danger py-1" *ngIf="bf.buyerEmail.invalid">
            Please enter a valid email address
          </div>
        </div>
      </div>
      <div class="mb-4">
        <label for="coBuyerEmail">Co-Buyer Email
          <span class="text-muted">(If Applicable)</span></label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="email" class="form-control" id="coBuyerEmail" placeholder="you@example.com" name="coBuyerEmail"
            formControlName="coBuyerEmail" />
        </div>
      </div>
      <div class="mb-4">
        <label for="buyerPhone">Buyer Phone Number</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="buyerPhone" placeholder="713-555-5555" name="buyerPhone"
            formControlName="buyerPhone" required />
        </div>
        <div class="text-center" *ngIf="bf.buyerPhone.touched && bf.buyerPhone.errors?.required">
          <div class="text-danger py-1">Phone number is required.</div>
        </div>
      </div>
      <div class="mb-4">
        <label for="coBuyerPhone">Co-Buyer Phone Number
          <span class="text-muted">(If Applicable)</span></label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="coBuyerPhone" placeholder="713-555-5555" name="coBuyerPhone"
            formControlName="coBuyerPhone" />
        </div>
      </div>
      <div class="preapproved">
        <p class="title">Are you Pre-Approved</p>
        <div class="preapproved-controls">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="preApproved" name="preApproved"
              formControlName="preApproved" />
            <label class="custom-control-label" for="preApproved">Yes</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="notPreApproved" name="notPreApproved"
              formControlName="notPreApproved" />
            <label class="custom-control-label" for="notPreApproved">No</label>
          </div>
        </div>
        <div class="preapproved-letter">
          <p>If so, please attach Pre-Approval Letter:</p>
          <input type="file" id="img" name="img" accept="image/*">
        </div>
      </div>
      <div class="looking-to-buy">
        <label class="mb-1">When are you looking to buy?</label>
        <div class="options">
          <div class="custom-control custom-radio">
            <input id="now" name="now" type="radio" class="custom-control-input" checked="" required=""
              formControlName="now" />
            <label class="custom-control-label" for="now">Now</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="oneToThreeMonths" name="oneToThreeMonths" type="radio" class="custom-control-input" checked=""
              required="" formControlName="oneToThreeMonths" />
            <label class="custom-control-label" for="oneToThreeMonths">0-3 Months</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="threeToSixMonths" name="threeToSixMonths" type="radio" class="custom-control-input" required
              formControlName="threeToSixMonths" />
            <label class="custom-control-label" for="threeToSixMonths">3-6 Months</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="sixToTwelveMonths" name="sixToTwelveMonths" type="radio" class="custom-control-input" required
              formControlName="sixToTwelveMonths" />
            <label class="custom-control-label" for="sixToTwelveMonths">6-12 Months</label>
          </div>
        </div>
      </div>
      <div class="price-range my-4">
        <label for="priceRange">What’s your price range? </label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="priceRange" placeholder="" formControlName="priceRange"
            required />
        </div>
        <div class="text-center" *ngIf="bf.priceRange.touched && bf.priceRange.errors?.required">
          <div class="text-danger py-1">Price range is required.</div>
        </div>
      </div>
      <div class="dreamhome mb-3">
        <label for="dreamHome">Describe your Dream Home and preferred location?
        </label>
        <textarea id="w3mission" rows="4" cols="60" required formControlName="dreamHome"></textarea>
        <div class="text-center" *ngIf="bf.dreamHome.touched && bf.dreamHome.errors?.required">
          <div class="text-danger py-1">Dream home description is required.</div>
        </div>
      </div>
      <hr class="mb-4" />
      <div class="submit-btn">
        <button [disabled]="!buyerForm.valid" class="btn btn-primary btn-lg btn-block" type="submit">
          Send
        </button>
      </div>
    </form>
  </div>
</div>