<div class="consultation-form">
    <div class="wrapper">
        <div class="doss-container">
            <div class="section-header">
                <p class="large-text-blue">Schedule a Buyer<br>Consultation</p>
            </div>

            <div class="section-5-form">
                <form [formGroup]="buyerForm" (ngSubmit)="submitForm(buyerForm)"
                    novalidate="">
                    <div class="form-input-group">
                        <div class="form-input">
                            <label for="buyerName">
                                <p class="regular-text-blue">Buyer Name <span class="required">*</span></p>
                            </label>
                            <input type="text" class="form-control" name="buyerName" 
                                formControlName="buyerName" required />
                            <div *ngIf="bf.buyerName.touched && bf.buyerName.errors?.required">
                                <div class="text-danger py-1">Buyer name is required.</div>
                            </div>
                        </div>

                        <div class="form-input">
                            <label for="coBuyerName">
                                <p class="regular-text-blue">Co-Buyer Name(If Applicable)</p>
                            </label>
                            <input type="text" id="coBuyerName" class="form-control"
                                name="coBuyerName" formControlName="coBuyerName">
                        </div>

                        <div class="form-input">
                            <label for="buyerEmail">
                                <p class="regular-text-blue">Buyer Email <span class="required">*</span></p>
                            </label>
                            <input type="email" class="form-control" id="buyerEmail"
                                name="email" formControlName="buyerEmail" required />
                            <div *ngIf="bf.buyerEmail.touched && bf.buyerEmail.errors?.required">
                                <div class="text-danger py-1">Buyer email is required.</div>
                            </div>
                            <div *ngIf="bf.buyerEmail.dirty">
                                <div class="text-danger py-1" *ngIf="bf.buyerEmail.invalid">
                                    Please enter a valid email address
                                </div>
                            </div>
                        </div>

                        <div class="form-input">
                            <label for="coBuyerEmail">
                                <p class="regular-text-blue">Co-Buyer Email(If Applicable)</p>
                            </label>
                            <input type="email" id="coBuyerEmail" class="form-control"
                                name="coBuyerEmail" formControlName="coBuyerEmail" />
                                <div *ngIf="bf.coBuyerEmail.dirty">
                                    <div class="text-danger py-1" *ngIf="bf.coBuyerEmail.invalid">
                                        Please enter a valid email address
                                    </div>
                                </div>
                        </div>

                        <div class="form-input">
                            <label for="buyerPhone">
                                <p class="regular-text-blue">Buyer Phone Number <span class="required">*</span></p>
                            </label>
                            <input type="text" class="form-control" id="buyerPhone"
                                name="buyerPhone" formControlName="buyerPhone" placeholder="777-777-7777" required />
                            <div *ngIf="bf.buyerPhone.touched && bf.buyerPhone.errors?.required">
                                <div class="text-danger py-1">Phone number is required.</div>
                            </div>
                            <div *ngIf="bf.buyerPhone.dirty">
                                <div class="text-danger py-1" *ngIf="bf.buyerPhone.invalid">
                                    Please enter a valid phone number
                                </div>
                            </div>
                        </div>

                        <div class="form-input">
                            <label for="coBuyerPhone">
                                <p class="regular-text-blue">Co-Buyer Phone Number(If Applicable)</p>
                            </label>
                            <input type="text" id="coBuyerPhone" class="form-control"
                                name="coBuyerPhone" formControlName="coBuyerPhone" />
                        </div>
                    </div>

                    <div class="radio-input-group">
                        <p class="regular-text-blue" style="margin-bottom: 10px;">Are you Pre-Approved? <span class="required">*</span></p>
                        <div class="radio-input-selections">
                            <div class="radio-input">
                                <input type="radio" id="pre-approved" name='preApproved' class="regular-radio" value="yes"
                                    formControlName="preApproved">
                                <label for="pre-approved">
                                    <p class="regular-text-blue">Yes</p>
                                </label>
                            </div>

                            <div class="radio-input">
                                <input type="radio" id="not-approved" name="preApproved" class="regular-radio"
                                    formControlName="preApproved" value="no">
                                <label for="not-approved">
                                    <p class="regular-text-blue">No</p>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-input-group">
                        <div class="form-input">
                            <label for="">
                                <p class="regular-text-blue">If so please attach Pre-Approved Letter</p>
                            </label>
                            <input type="file">
                        </div>
                    </div>

                    <div class="radio-input-group">
                        <p class="regular-text-blue" style="margin-bottom: 10px;">When are you looking to buy? <span class="required">*</span></p>
                        <div class="radio-input-selections">
                            <div class="radio-input">
                                <input type="radio" id="now" name='whenToBuy' class="regular-radio" formControlName="whenToBuy" value="now">
                                <label for="now">
                                    <p class="regular-text-blue">Now</p>
                                </label>
                            </div>

                            <div class="radio-input">
                                <input type="radio" id="3mon" name="whenToBuy" formControlName="whenToBuy" value="0-3 months" class="regular-radio"
                                    formControlName="whenToBuy">
                                <label for="3mon">
                                    <p class="regular-text-blue">0-3 months</p>
                                </label>
                            </div>

                            <div class="radio-input">
                                <input type="radio" id="6mon" name="whenToBuy" formControlName="whenToBuy" value="3-6 months" class="regular-radio"
                                    formControlName="whenToBuy">
                                <label for="6mon">
                                    <p class="regular-text-blue">3-6 months</p>
                                </label>
                            </div>

                            <div class="radio-input">
                                <input type="radio" id="12mon" name="whenToBuy" formControlName="whenToBuy" value="6-12 months" class="regular-radio"
                                    formControlName="whenToBuy">
                                <label for="12mon">
                                    <p class="regular-text-blue">6-12 months</p>
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="form-input-group">
                        <div class="form-input">
                            <label for="priceRange">
                                <p class="regular-text-blue">What's your price range? <span class="required">*</span></p>
                            </label>
                            <input type="text" class="form-control" id="priceRange" name='when-buy'
                                formControlName="priceRange" required />
                            <div *ngIf="bf.priceRange.touched && bf.priceRange.errors?.required">
                                <div class="text-danger py-1">Price range is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-input-group mb-5">
                        <label for="description">
                            <p class="regular-text-blue">Describe your dream home and preferred location. <span class="required">*</span></p>
                        </label>
                        <textarea class="form-control" name="describe" id="description" required
                            formControlName="dreamHome"></textarea>
                        <div *ngIf="bf.dreamHome.touched && bf.dreamHome.errors?.required">
                            <div class="text-danger py-1">Dream home description is required.</div>
                        </div>
                    </div>

                    <button type="submit" class="submit" [disabled]="!buyerForm.valid">Send</button>

                </form>
            </div>
        </div>
    </div>
</div>