<div class="wrapper">
  <div class="heading text-center">
    <p>REQUEST MORE INFORMATION</p>
    <p class="sub-heading text-center">Schedule a confidential consultation.</p>
  </div>
  <div class="container form-container">
    <div class="form">
      <form [formGroup]="requestFrom" (ngSubmit)="submitForm(requestFrom)" novalidate>
        <div class="mb-4">
          <label for="firstName">First Name</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="first-name" placeholder="First Name" formControlName="firstName"
              required />

          </div>
          <div class="text-center" *ngIf="rf.firstName.errors && rf.firstName.touched">
            <div *ngIf="rf.firstName.errors.required"  class="text-danger py-1">First name is required.</div>
          </div>
        </div>
        <div class="mb-4">
          <label for="lastName">Last Name</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="last-name" placeholder="Last Name" formControlName="lastName"
              required />
          </div>
          <div *ngIf="rf.lastName.errors && rf.lastName.touched" class="text-center">
            <div *ngIf="rf.lastName.errors.required" class="text-danger py-1">Last Name is required</div>
          </div>
        </div>
        <div class=" form">
          <label for="bestNumber">Best Number</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="best-number" placeholder="Best Number"
              formControlName="bestNumber" required />
          </div>
          <div class="text-center" *ngIf="rf.bestNumber.errors && rf.bestNumber.touched" >
            <div class="text-danger py-1" *ngIf="rf.bestNumber.errors.required">Best number is required.</div>
          </div>
        </div>
        <div class="mb-4">
          <label for="email">Email</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="email" class="form-control" id="email" placeholder="your@email.com" formControlName="email"
              required />
          </div>
          <div class="text-center" *ngIf="rf.email.errors && rf.email.touched">
            <div class="text-danger py-1" *ngIf="rf.email.errors.required">Email is required</div>
          </div>
        </div>
        <div class="mb-4">
          <label for="cityStateInterest">City, State of Interest</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="city-state-interest" formControlName="cityStateInterest"
              required />
          </div>
          <div class="text-center" *ngIf="rf.cityStateInterest.errors && rf.cityStateInterest.touched">
            <div class="text-danger py-1" *ngIf="rf.cityStateInterest.errors.required">City, statof interest is required.</div>
          </div>
        </div>
        <div class="mb-4">
          <label for="interest">Market Area of Interest*</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="interest" formControlName="marketAreaInterest" required />
          </div>
          <div class="text-center" *ngIf="rf.marketAreaInterest.errors && rf.marketAreaInterest.touched" >
            <div class="text-danger py-1" *ngIf="rf.marketAreaInterest.errors.required"> Please enter a market area of interest.</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="dreamHome">Tell us about your background and real estate experience
            along with your interest in DOSS.
          </label>
          <textarea id="w3mission" rows="6" cols="80" formControlName="backgroundExperience"></textarea>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="doss-updates" value="rf.dossUpdates.value"
            formControlName="dossUpdates" />
          <label class="custom-control-label" for="doss-updates">Get DOSS updates?</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="recaptcha" />
          <label class="custom-control-label" for="recaptcha">I am not a ROBOT(reCAPTCHA)</label>
        </div>

        <hr class="mb-4" />
        <div class="submit-btn">
          <button [disabled]="!requestFrom.valid" class="btn btn-primary btn-lg btn-block" type="submit">
            Send
          </button>
        </div>
      </form>
    </div>
  </div>
</div>