.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 6rem 0;
    background-color: #f5f6fa;
    .form-container {
        max-width: 800px;
    }
    .heading {
        font-size: 3rem;    
        font-weight: 500;
        margin-bottom: 2rem;
        color: #164f8c;
    }
    .sub-heading {
        text-align: center;
        color: #000;
        font-weight: 300;
        font-size: 1.7rem;
    }
    .input-group-text {
        background-color: #fff;
        color: #f06e42;
    }
    .submit-btn {
        display: flex;
        justify-content: center;
        button {
            width: 30%;
        }
    }
}