.wrapper {
    height: 120%;
    .heading {
        font-size: 3rem;
        font-weight: 500;
        text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(0, 110, 255, 0.3);
    }
    .sub-heading {
        font-size: 1.5rem;
    }
    .testimonies {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .testimoney {
            margin-left: 1rem;
            .message {
                font-size: 1.7rem;
                font-weight: 300;
                padding: 1rem 14rem;
            }
        }
    }    
}