<div class="wrapper py-5" [style.background-color]="contentService.getColor(bgColor)"
[style.color]="contentService.getColor(textColor)">
    <div class="container">
        <div class="heading text-center">
            <ng-content select=[heading]></ng-content>
        </div>
        <div class="sub-heading">
            <ng-content class="sub-heading" select=[subheading]></ng-content>
        </div>
       
        <div class="testimonies">
            <div class="testimoney">
                <div class="pic">
                    <ng-content select=[pic]></ng-content>
                </div>
                <div class="message text-center" [ngClass]="{'text-center':centerText}">
                    <ng-content select=[message]></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>