<section class="section-1">
    <div class="section-1-wrapper">
      <div class="section-1-text">
        <p class="large-text-white">OUR STORY</p>
        <p class="regular-text-white" style="margin-top: 10px; font-weight: 700;">The conception of a BIG idea.</p>
        <p class="regular-text-white" style="margin-top: 10px; font-weight: 200; line-height: 1.5;">
            This idea, that we could improve the real estate industry began during the dawn of the 2008 recession. We believed that something different than what has happened in this industry for the last 100 years, that we could build something special to radically evolve the way people search and transact property, and that we could successfully lower transactional cost for buyers and sellers without sacrificing the quality of service. These collective ideas and with a team that’s obsessed about solving these problems, DOSS was created. <br><br>
            At DOSS, we believe that we can create a Digital Brokerage that leverages the best technology to make homeownership in America more affordable. <br><br>
            The real estate industry is the most antiquated, expensive, and fragmented industry in the world. With all of the technological advancements that have benefited the real estate industry, most of its practitioners collectively refuse to reduce the high cost that comes with buying and selling real estate. Although the Supreme Court has ruled against price-fixing and standard fees, the real estate industry continues to support this behavior. Routinely labeled a Discount Brokerage, as if commissions are non-negotiable, DOSS considers itself a Fair-Priced Digital Brokerage that opposes price-fixing(6%). <br><br>
            With an In-house Media Company, DOSS is able to market and service a property better than any Traditional Brokerage for a 1% listing fee. For buyers, DOSS is able to help find the best property, negotiate a favorable deal, protect their best interest, and give a BUYER REBATE up to $5,000* to help lower their closing cost. Our techAGENTS are experienced, full-time, and trained Experts that proficiently use technology to provide the best service, at a fair price. Are you thinking about buying or selling a home? Hire a technology company!
            <br><br>
            <span style="font-weight: 700;">DOSS: BETTER. FASTER. SMARTER.</span> <br><br>
            <span style="font-weight: 400;">-by Bobby Bryant, CEO/Founder</span> 
        </p>
        <a href="https://profiles.forbes.com/members/realestate/profile/Bobby-Bryant-CEO-Founder-Ask-Doss/15bbecd7-181e-42bf-aa40-0642b06366a3?fbclid=IwAR2W4ubV1sTkFqzaX9EwgagYotyzwNm-6ipEEjXeLGHCT4CgxHvMmHTOQY8" target="_blank"> <img src="assets/images/about_bobby.jpg" alt="image of CEO Bobby"></a>
      </div>
    </div>
  </section>