<div class="wrapper">
    <div class="container">
        <div class="accordion" id="{{stepsId}}">
            <div class="card" *ngFor="let step of steps; let index = index; let first = first">
                <div class="card-header" id="headingOne">
                    <span>{{ index +1 }}</span>
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                        [attr.data-target]="setStepAriaControl(stepsId, index)" aria-expanded="false"
                        [attr.aria-controls]="setStepAriaControl(stepsId, index)">
                        <h4 class="mb-0">
                            {{step.step}}
                        </h4>
                    </button>
                </div>
                <div id="{{ setDetailId(stepsId, index) }}" class="collapse multi-collapse" [ngClass]="{'show': first}"
                    aria-labelledby="headingOne">
                    <div class="card-body">
                        <p>{{step.detail}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>