<div class="wrapper" [style.background-color]="contentService.getColor(bgColor)"
  [style.color]="contentService.getColor(textColor)">
  <div class="container">
    <div class="align-content-left text-left">
      <div class="text">
        <div class="heading">
          <ng-content select="[heading]"></ng-content>
          <div class="sub-heading">
            <ng-content select="[sub-heading]"></ng-content>
          </div>
        </div>
        <div class="text">
          <ng-content select="[text]"></ng-content>
        </div>
      </div>
      <div class="pic">
        <ng-content select="[pic]"></ng-content>
      </div>
    </div>
  </div>
</div>