.wrapper {
  // height: calc(100vh - 8rem);
  .container {
    max-width: 1440px;
  }
  color: #fff;
  padding: 10rem 0;
  .heading {
    margin-bottom: 2rem;
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 700 !important;
    width: 67%;
    color:#174D89;
    line-height: 5rem;
  }
  .sub-heading  {
    color: #000;
    font-size: 1.2rem;
  }
  .text {
    width: 559px;
    color:#174D89;
  }
  .pic {
    width: 43%;
    margin-top: -3rem;
  }
}



.content-body {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

