.wrapper {
  #quote {
    padding: 10rem 20%;
  
    .quote {
      text-align: center;
      font-size: 3rem;
      font-weight: 300;
      font-style: italic;
    }
    .signature {
      text-transform: uppercase;
      text-align: center;
      color: #164f8c;
      font-weight: 500;
      font-size: 2.7rem;
    }
    .signed {
      font-size: 2rem;
    }
  }
}
