
//SECTION-1
.hero-container {
    // width: 100vw;
    height: 90vh;
    max-height: 1024px;
    // max-width: 100%;

    background-image: url('../../../assets/images/home_hero_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 1169px) {
        .hero-text-container {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}






//SECTION-2
.section-2-wrapper {
    display: flex;
    justify-content: center;
}


//SECTION-3
.section-3-wrapper {
    display: flex;
    justify-content: center;
    background: #F8F9FB;
}

.section-3-cards-container {
    display: flex;
    justify-content: space-between;
}
.section-3-card {
    width: 300px;
    height: 450px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: 0.3s ease;
}
.section-3-card-image {
    width: 300px;
}
.section-3-card-title {
    border-left: 3px solid #EF6C40;
}
.section-3-card-button {
    padding-left: 30px;
}

@media only screen and (max-width: 1169px) {
    .section-3-cards-container {
        flex-direction: column;
        align-items: center;
    }
    .section-3-card-button {
        padding: 0;
    }
}
@media only screen and (max-width: 767px) {
    .section-3-card-title {
        font-size: 18px;
    }
}


//SECTION-4

//SECTION-5
.section-5-wrapper {
    display: flex;
    justify-content: center;
}

//SECTION-6
.section-6-wrapper {
    display: flex;
    justify-content: center;

    background: #F8F9FB;
    background-image: url('../../../assets/images/home_bg_half_circle.png');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: right;
}

.section-6-cards-container {

    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .section-6-card {
        width: 45%;
        height: 400px;

        margin-bottom: 20px;
    
        background: white;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.15);
        border-top: 5px solid #174D89;

        transition: 0.3s ease;
    }
    .section-6-card:hover {
        // transform: scale3d(1.01);
        box-shadow: 0 3px 25px rgba(0,0,0,0.10);
        border-top: 5px solid #EF6C40;
    }
    .section-6-card-content {
        height: 100%;
        padding-left: 50px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    @media only screen and (max-width: 1169px) {
        .section-6-card {
            width: 90vw
        }
        .section-6-card-content {
            padding: 0;
        }
        .section-6-card-icon {
            padding: 0 5%;
        }
        .section-6-card-text {
            padding: 0 5%;
        }
    }
    @media only screen and (max-width: 767px) {
        .section-6-card {
            width: 90vw;
            height: 300px;
        }
    }
}
@media only screen and (max-width: 767px) {
    .section-6-wrapper {
        background-image: none;
    }
}


// SECTION-7
.section-7-wrapper {
    display: flex;
    justify-content: center;
    background: white;
}

.section-7-images {
    display: flex;
    justify-content: space-between;

    padding: 50px 0;
}

.section-7-images img {
    border-radius: 10px;
    width: 300px;
    transition: 0.3s ease;
}

.section-7-images img:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 45px rgba(0,0,0,0.12);
}

@media only screen and (max-width: 1169px) {
    .section-7-images {
        flex-direction: column;
        padding-top: 0;
    }
    .section-7-images a {
        text-align: center;
    }
    .section-7-images img {
        width: 80%;
        margin-bottom: 20px;
    }
}
// SECTION-8
.forbes-wrapper {
    // height: 35vh;
    background: #F8F9FB;

    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}
.forbes-container {
    margin-top: 100px;
}
.forbes-container img {
    width: 250px;
    
}

.article {
    text-align: center;
    margin: 0px 70px;
}
.article img {
    width: 30px;
}

.article-container {
    display: flex;
    margin: 100px 0;
}
@media only screen and (max-width: 767px) {
    .forbes-container {
        margin-top: 50px;
    }
    .forbes-container img {
        width: 200px;
    }
    .article-container {
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
    }
    .article {
        margin: 30px 0;
    }
}
// SECTION-9
// .section-9-wrapper {
//     background: #EF6C40;

//     background-image: url('../../../assets/images/home_mic_logo.png');
//     background-repeat: no-repeat;
//     background-size: 20%;
//     background-position: left;


//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .section-9-text {
//     width: 60vw;
//     margin: 200px 0;
// }

// @media only screen and (max-width: 1169px) {
//     .section-9-wrapper {
//         min-height: 35vh;
//     }
// }
// @media only screen and (max-width: 767px) {
//    .section-9-wrapper {
//        background-image: none;
//    }
//     .section-9-text {
//         margin: 50px 0;
//     }
// }


//SECTION-10
.section-10-wrapper {
    // background: rgb(255,133,93);
    // background: linear-gradient(227deg, rgba(255,133,93,1) 0%, rgba(239,108,64,1) 100%);

    background: #EF6C40;

    background-image: url('../../../assets/images/home_mic_logo.png');
    background-repeat: no-repeat;
    background-size: 21%;
    background-position: left;

    width: 100vw;
    max-width: 100%;

    display: flex;
}

.section-10-text {
    width: 50%;

    padding: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-10-img {
    width: 50%;
}
.section-10-img img {
    width: 100%;
}

@media only screen and (max-width: 850px) {
    .section-10-wrapper {
        flex-direction: column;

        background-image: none;
    }
    .section-10-text {
        width: 100%;
        margin: 30px 0;
    }
    .section-10-img {
        width: 100%;
    }
}