<section class="hero-section">
  <app-hero [heading]="heroHeadig" [text]="heroText" [backgroundImage]="'bg.png'"></app-hero>
</section>
<div class="wrapper">
  <section id="better-faster-smarter">
    <div class="wrapper">
      <app-left-align [textColor]="'blue'">
        <div heading>
          Better. Faster. Smarter.
        </div>
        <div text>
          <p class="mb-5">
            DOSS is developing the best technology to radically evolve the way you search and transact property. This
            approach improves transactional efficiencies and reduces transactional costs.
          </p>
          <button type="button" class="btn btn-lg btn-block btn-inline-primary">
            Get Started
          </button>
        </div>
        <div pic>
          <img src="assets/images/better_faster_smarter.png">
        </div>
      </app-left-align>
    </div>
  </section>
  <section id="full-service">
    <div class="wrapper container">
      <div class="heading">
        FULL SERVICE, at a fair price.
      </div>
      <div class="sub-heading"> {{ fullServiceSubHeading }}</div>
      <div class="services">
        <div class="service">
          <img src="assets/images/buy_home.png" alt="">
          <div class="service-title">
            <p>Buy a Home</p>
          </div>
          <ul class="mt-3 mb-4">
            <li>Get up to a $5,000* Buyer Rebate</li>
            <li>Experienced Agents</li>
            <li>Same day home-tours</li>
          </ul>
          <div class="service-btn text-center">
            <button type="button" class="btn btn-lg btn-block btn-inline-primary" (click)="buyerPageRedirect()">START
              NOW!
            </button>
          </div>

        </div>
        <div class="service">
          <img src="assets/images/sell_home.png" alt="sell a house">
          <div class="service-title">
            <p> Sell a House</p>
          </div>

          <ul class="mt-3 mb-4">
            <li>$1,295 Flat Fee*</li>
            <li>Experienced Agents</li>
            <li>Professional Photos</li>
            <li>3D Virtual Tour</li>
          </ul>
          <div class="service-btn text-center">
            <button type="button" class="btn btn-lg btn-block btn-inline-primary" (click)="sellPageRedirect()">START
              NOW!
            </button>
          </div>
        </div>
        <div class="service">
          <img src="assets/images/rent_home.png" alt="rent a property">
          <div class="service-title">
            <p> Rent a Property</p>
          </div>
          <ul class="mt-3 mb-4">
            <li>Get Local Market Expertise</li>
            <li>Experienced Agents</li>
            <li>Experienced Agents</li>
            <li>Same day home-tours*</li>
          </ul>
          <div class="service-btn text-center">
            <button type="button" class="btn btn-lg btn-block btn-inline-primary" (click)="rentPageRedirect()">START
              NOW!
            </button>
          </div>
        </div>
      </div>
      <div class="footer text-muted">
        <p>
          *Buyer Rebate is subject to lender approval and buyer agent commission.
        </p>
        <p>*All home-tours scheduled before 3pm will be set for the same day(if approved).</p>
        <p>*$1,295 Flat Fee for homes below 3,500 sqft. $1,995 Flat Fee for homes over 3,500 sqft.</p>
      </div>
    </div>
  </section>
  <section id="movement">
    <app-movement [heading]="movementHeading" [caption]=""></app-movement>
  </section>
  <section id="tech-agents">
    <app-right-align [textColor]="'blue'">
      <div heading>TECH Agents™</div>
      <div sub-heading>/tek ajent/</div>
      <div pic>
        <img src="assets/images/tech_agent.png" alt="tech agent">
      </div>
      <div text>
        <p [style.font-weight]="'700'" class="ml-4">noun</p>
        <ul>
          <li>a Realtor® who proficiently leverages
            technology to increase transactional efficiencies
            that automate and streamline the real estate process
            to reduce cost for the consumer without sacrificing service.
          </li>
          <li>a Realtor® that represents the NEXT ERA of real estate practitioners that are dedicated to a consumer
            centric way of doing business.
          </li>
          <li>a Realtor® that subscribes to a proven system and teamwork that empowers everybody to function at their
            highest and best value.
          </li>
        </ul>
      </div>
    </app-right-align>
  </section>
  <section id="join-us">
    <div class="elipse-bg">
      <img src="assets/images/elipse_bg.png" alt="">
    </div>
    <div class="container">
      <div class="header">
        <p class="heading">JOIN US!</p>
        <div class="sub-heading">Become a TECH Agent™</div>
        <div class="sub-heading">Open a DOSS Home Center</div>
      </div>
      <div class="content">
        <div class="tech-agent">
          <div class="badge">
            <img src="assets/images/user.svg" alt="user icon">
          </div>
          <div class="content-header">
            <p>Become an Agent™</p>
          </div>
          <div class="card-body">
            <ul class="mt-3">
              <li>100% Commission(Flat Fee)</li>
              <li>Real Innovative Technology</li>
              <li>Mastery Training</li>
              <li>A Structured Business Model!</li>
              <li>DOSS provides signage and supras!</li>
            </ul>
          </div>
          <button type="button" class="btn btn-lg btn-block btn-inline-primary">MORE INFO</button>
        </div>

        <div class="franchise">
          <div class="badge">
            <img src="assets/images/home.svg" alt="user icon">
          </div>
          <div class="content-header">
            <p>Open a DOSS Home Center</p>
          </div>
          <div class="card-body">
            <ul class="mt-3">
              <li>A Mission Driven Tech Brand</li>
              <li>Buy an Exclusive Market Area</li>
              <li>Get Exclusive Smart Leads</li>
              <li>Support, Systems, and Training</li>
              <li>DOSS Social Agents included!</li>
            </ul>
          </div>
          <button type="button" class="btn btn-lg btn-block btn-inline-primary">MORE INFO</button>
        </div>
      </div>

    </div>
  </section>

  <section id="first-step">
    <div class="section-wrapper">
      <div class="container">
        <div class="heading">
          <div class="title">take the first step!</div>
          <div class="sub-heading">
            <p>Get started today by contacting one of our TECH Agents™ at DOSS
              to successfully guide you through the process.
            </p>
          </div>
        </div>
        <div class="steps text-left">
          <div class="buyer" (click)="buyerPageRedirect()">
            <!-- <img class="" src="assets/images/im_a_buyer.png" alt="im am buyer image"> -->
            <p>I am a buyer</p>
          </div>
          <div class="seller" (click)="sellPageRedirect()">
            <!-- <img class="pb-1" src="assets/images/im_a_seller.png" alt="i am a seller image"> -->
            <p>I am a seller</p>
          </div>
          <div class="renter" (click)="rentPageRedirect()">
            <!-- <img class="pb-1" src="assets/images/im_a_renter.png" alt="i am a renter image"> -->
            <p>I am a renter</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="call-us">
    <app-contact-number></app-contact-number>
  </section>
  <section id="coming-soon">
    <div class="section-wrapper">
      <div class="text">
        <div class="heading top">
          <div>commig soon!</div>
          <div>fall 2020</div>
        </div>
        <div class="message">
          <p>A Voice-Activated Intelligent Assistant built into a proprietary real estate search portal to radically
            evolve the way people search and transact property.
          </p>
        </div>
      </div>
      <div class="pic">
        <img src="assets/images/comingsoon2.png" alt="">
      </div>
    </div>
  </section>
  <section id="forbes">
    <app-forbes>
    </app-forbes>
  </section>
</div>