<section class="section-1">
  <div class="hero-container">
    <div class="hero-text-container">
      <div class="hero-text">
        <p class="large-text-white">Making <br /> Homeownership in <br /> America More Affordable</p>
        <p class="regular-text-white" style="margin-top: 10px;">Full Service. Experienced Agents. Modern Technology. Save
          Thousands</p>
      </div>
    </div>
  </div>
</section>

<section class="section-2">
  <div class="section-2-wrapper">
    <div class="info-container-reverse">
      <div class="text-box">
        <p class="large-text-blue">BETTER. <br>FASTER. <br>SMARTER.</p>
        <p class="regular-text-blue" style="margin-top: 10px;">DOSS is developing the best technology to 
          radically evolve the way you search and transact 
          property. This approach improves transactional 
          efficiencies and reduces transactional costs.</p>
      </div>
      <div class="image-box">
        <img src="../../../assets/home/section_2/oval_phone.png" alt="image of Doss Phone" style="width: 100%;">
      </div>
    </div>
  </div>
</section>


<section class="section-3">
  <div class="section-3-wrapper">
    <div class="doss-container">
      <div class="section-header">
        <p class="large-text-blue">FULL SERVICE,<br />AT A FARE PRICE</p>
        <p class="regular-text-blue" style="margin-top: 10px;">Hire a tech company</p>
      </div>
      <div class="section-3-cards-container">
        <div class="section-3-card">
          <div class="section-3-card-image">
            <img src="../../../assets/home/section_3/1_buy.png" alt="picture of home" width="100%" style="border-radius: 5px;">
          </div>
          <div class="section-3-card-title">
            <p class="regular-text-blue" style="font-size:18px; font-weight: 600;line-height: 1.5; color: #242528; padding-left: 30px;">Buy a home</p>
          </div>
          <div class="section-3-card-text">
            <p class="small-text-blue" style="font-size:14px; color: #242528; line-height: 2; padding-left: 30px;">
              •  Get up to $5000* buyer rebate <br>
              •  Experienced agents <br>
              •  Same day home-tours</p>
          </div>
          <div class="section-3-card-button">
            <a href="" routerLink="/buyer"><button class="doss-button">Get started</button></a>
          </div>
        </div>

        <div class="section-3-card">
          <div class="section-3-card-image">
            <img src="../../../assets/home/section_3/2_sell.png" alt="picture of home" width="100%" style="border-radius: 5px;">
          </div>
          <div class="section-3-card-title">
            <p class="regular-text-blue" style="font-size: 18px;font-weight: 600;line-height: 1.5; color: #242528; padding-left: 30px;">Sell a home</p>
          </div>
          <div class="section-3-card-text">
            <p class="small-text-blue" style="font-size:14px; color: #242528; line-height: 2; padding-left: 30px;">
              •  $1295 Flat fee* <br>
              •  Experienced agents <br>
              •  Professional photos <br>
              •  3D virtual tour</p>
          </div>
          <div class="section-3-card-button">
            <a href="" routerLink="/seller"><button class="doss-button">Get started</button></a>
          </div>
        </div>

        <div class="section-3-card">
          <div class="section-3-card-image">
            <img src="../../../assets/home/section_3/3_rent.png" alt="picture of home" width="100%" style="border-radius: 5px;">
          </div>
          <div class="section-3-card-title">
            <p class="regular-text-blue" style="font-size: 18px;font-weight: 600;line-height: 1.5; color: #242528; padding-left: 30px;">Rent a home</p>
          </div>
          <div class="section-3-card-text">
            <p class="small-text-blue" style="font-size:14px; color: #242528; line-height: 2; padding-left: 30px;">
              •  Get local market expertise <br>
              •  Experienced agents <br>
              •  Same day home-tours*</p>
          </div>
          <div class="section-3-card-button">
            <a href="" routerLink="/renter"><button class="doss-button">Get started</button></a>
          </div>
        </div>
      </div>
      <div class="footnote-container">
        <p class="footnote" style="color: #9E9E9E; line-height: 2;">
          *Buyer Rebate is subject to lender approval and buyer agent commission. <br>
          *All home-tours scheduled before 3pm will be set for the same day(if approved).
          <br>
          *$1,295 Flat Fee for homes below 3,500 sqft. $1,995 Flat Fee for homes over 3,500 sqft.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-4"></section>

<section class="section-5">
  <div class="section-5-wrapper">
    <div class="info-container">
      <div class="image-box">
        <img src="../../../assets/home/section_5/oval_agent.png" alt="image of Doss Agent" style="width: 100%;">
      </div>
      <div class="text-box">
        <p class="large-text-blue">TECH Agent</p>
        <p class="regular-text-blue" style="margin-top: 10px; font-weight: 700; color: #3A679A;">/tek ajent/</p>
        <p class="regular-text-blue" style="margin-top: 50px; font-weight: 700; color: #3A679A;">noun</p>
        <p class="regular-text-blue" style="margin-top: 10px;font-size: 14px; font-weight: 400; color: #3A679A; line-height: 1.5;">•  a Realtor® who proficiently leverages technology to increase 
          transactional efficiencies that automate and streamline the real 
          estate process to reduce cost for the consumer without 
          sacrificing service. 
          <br> <br>
          •  a Realtor® that represents the NEXT ERA of real estate 
          practitioners that are dedicated to a consumer centric way of 
          doing business.
          <br> <br>
          •  a Realtor® that subscribes to a proven system and teamwork 
          that empowers everybody to function at their highest and 
          best value.</p>
      </div>
      
    </div>
  </div>
</section>

<section class="section-6">
  <div class="section-6-wrapper">
    <div class="doss-container">
      <div class="section-header">
        <p class="large-text-blue">JOIN US</p>
        <p class="regular-text-blue" style="margin-top: 10px;">Become an agent, <br>Open a DOSS Home Center</p>
      </div>
      <div class="section-6-cards-container">
        <div class="section-6-card" style="border-top: 5px solid #174D89;">
          <div class="section-6-card-content">
              <div class="section-6-card-icon">
                <img src="../../../assets/home/section_6/icon_user.svg" alt="icon of card">
              </div>
              <div class="section-6-card-text">
                <p class="regular-text-blue" style="font-weight: 700;">Become an agent</p>
                <p class="small-text-blue" style="margin-top: 20px; line-height: 1.5; color: #3A679A;">
                  •  100% Commission(Flat Fee) <br>
                  •  Real Innovative Technology <br>
                  •  Mastery Training <br>
                  •  A Structured Business Model! <br>
                  •  DOSS provides signage and supras!</p>
              </div>
              <div class="button-container">
                <a href=""><button class="doss-button">More info</button></a>
                
              </div>
          </div>
        </div>

        <div class="section-6-card" style="border-top: 5px solid #EF6C40;">
          <div class="section-6-card-content">
              <div class="section-6-card-icon">
                <img src="../../../assets/home/section_6/icon_home.svg" alt="icon of card">
              </div>
              <div class="section-6-card-text">
                <p class="regular-text-blue" style="font-weight: 700;">Open a DOSS Home Center</p>
                <p class="small-text-blue" style="margin-top: 20px; line-height: 1.5; color: #3A679A;">
                  •  A Mission Driven Tech Brand <br>
                  •  Buy an Exclusive Market Area <br>
                  •  Get Exclusive Smart Leads <br>
                  •  Support, Systems, and Training <br>
                  •  DOSS Social Agents included!</p>
              </div>
              <div class="button-container">
                <a href=""><button class="doss-button">More info</button></a>
                
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-7">
  <div class="section-7-wrapper">
    <div class="doss-container">
      <div class="section-header">
        <p class="large-text-blue">TAKE THE<br>FIRST STEP</p>
        <p class="regular-text-blue" style="margin-top: 10px;">
        Get started today by contacting one of our TECH Agents™ <br>
        at DOSS to successfully guide you through the process.</p>
      </div>
      <div class="section-7-images">
        <a href="" routerLink="/buyer"><img src="../../../assets/home/section_7/buyer.png" alt="image of buyer" ></a>
        <a href="" routerLink="/seller"><img src="../../../assets/home/section_7/seller.png" alt="image of buyer" ></a>
        <a href="" routerLink="/rent"><img src="../../../assets/home/section_7/renter.png" alt="image of buyer" ></a>
      </div>
    </div>
  </div>
</section>
<section class="section-8">
  <div class="forbes-wrapper">
    <div class="forbes-container">
      <p class="regular-text-blue" style="color: #6689B1; padding-bottom: 10px;">As seen in</p>
      <img src="../../../assets/home/section_8/forbes_logo.png" alt="">
    </div>
  </div>
</section>
<section class="section-9">
  <div class="section-9-wrapper">
    <div class="section-9-text">
      <p class="large-text-white">ALSO COMING SOON <br> FALL 2020</p>
        <p class="regular-text-white" style="margin-top: 10px;">
          A Voice-Activated Intelligent Assistant 
          built into a proprietary real estate 
          search portal to radically evolve the 
          way people search and transact 
          property.
        </p>
    </div>
  </div>
</section>