<section class="section-1">
  <div class="hero-container">
    <div class="hero-text-container">
      <div class="hero-text">
        <p class="large-text-white anim-left">Making <br /> Homeownership in <br /> America More Affordable</p>
        <p class="regular-text-white anim-right" style="margin-top: 10px;">Full Service. Experienced Agents. Modern Technology. Save
          Thousands.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-2">
  <div class="section-2-wrapper">
    <div class="info-container-reverse">
      <div class="text-box">
        <p class="large-text-blue">BETTER. <br>FASTER. <br>SMARTER.</p>
        <p class="regular-text-blue" style="margin-top: 10px;">DOSS is developing the best technology to 
          radically evolve the way you search and transact 
          property. This approach improves transactional 
          efficiencies and reduces transactional costs.</p>
      </div>
      <div class="image-box">
        <img src="assets/images/home_oval_phone.png" alt="image of Doss Phone" style="width: 100%;">
      </div>
    </div>
  </div>
</section>


<section class="section-3">
  <div class="section-3-wrapper">
    <div class="doss-container">
      <div class="section-header">
        <p class="large-text-blue">FULL SERVICE,<br />at a fair price...</p>
        <p class="regular-text-blue" style="margin-top: 10px;">Hire a real estate tech company!</p>
      </div>
      <div class="section-3-cards-container">
        <div class="section-3-card">
          <div class="section-3-card-image">
            <img src="assets/images/home_1_buy.png" alt="picture of home" width="100%" style="border-radius: 5px;">
          </div>
          <div class="section-3-card-title">
            <p class="regular-text-blue" style="font-size:18px; font-weight: 600;line-height: 1.5; color: #242528; padding-left: 30px;">Buy a home</p>
          </div>
          <div class="section-3-card-text">
            <p class="small-text-blue" style="font-size:14px; color: #242528; line-height: 2; padding-left: 30px;">
              •  Get a buyer rebate up to $5,000* <br>
              •  Experienced agents <br>
              •  Same day home-tours</p>
          </div>
          <div class="section-3-card-button">
            <a href="" routerLink="/buyer"><button class="doss-button">Get started</button></a>
          </div>
        </div>

        <div class="section-3-card">
          <div class="section-3-card-image">
            <img src="assets/images/home_2_sell.png" alt="picture of home" width="100%" style="border-radius: 5px;">
          </div>
          <div class="section-3-card-title">
            <p class="regular-text-blue" style="font-size: 18px;font-weight: 600;line-height: 1.5; color: #242528; padding-left: 30px;">Sell a home</p>
          </div>
          <div class="section-3-card-text">
            <p class="small-text-blue" style="font-size:14px; color: #242528; line-height: 2; padding-left: 30px;">
              •  1% Listing Fee <br>
              •  Experienced agents <br>
              •  Professional photos <br>
              •  3D virtual tour</p>
          </div>
          <div class="section-3-card-button">
            <a href="" routerLink="/seller"><button class="doss-button">Get started</button></a>
          </div>
        </div>

        <div class="section-3-card">
          <div class="section-3-card-image">
            <img src="assets/images/home_3_rent.png" alt="picture of home" width="100%" style="border-radius: 5px;">
          </div>
          <div class="section-3-card-title">
            <p class="regular-text-blue" style="font-size: 18px;font-weight: 600;line-height: 1.5; color: #242528; padding-left: 30px;">Rent a home</p>
          </div>
          <div class="section-3-card-text">
            <p class="small-text-blue" style="font-size:14px; color: #242528; line-height: 2; padding-left: 30px;">
              •  Get local market expertise <br>
              •  Experienced agents <br>
              •  Same day home-tours*</p>
          </div>
          <div class="section-3-card-button">
            <a href="" routerLink="/rent"><button class="doss-button">Get started</button></a>
          </div>
        </div>
      </div>
      <div class="footnote-container">
        <p class="footnote" style="color: #9E9E9E; line-height: 2;">
          *Buyer Rebate is subject to lender approval and buyer agent commission. <br>
          *All home-tours scheduled before 3pm will be set for the same day(if approved).
          <br>
          3% is paid to the Buyers Agent. Total commissions paid to Agent(s) is 4%. <br>
          *Example: Home sells for $400,000. DOSS listing fee is only $4,000(1%) instead of the traditional $12,000.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-4">
  <div class="section-4-wrapper">
    <div class="car-container" style="margin: 40px 0;">
      <div id="carouselControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="4000">
            <img src='assets/images/rebate (6).jpg' class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="4000">
            <img src="assets/images/rebate (2).jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="4000">
            <img src="assets/images/rebate (3).jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="4000">
            <img src='assets/images/rebate (4).jpg' class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="4000">
            <img src="assets/images/rebate (5).jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="4000">
            <img src="assets/images/rebate (1).jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <p class="car-text-white" id="car-text" style="font-weight: 600;">JOIN THE MOVEMENT</p>
    </div>
  </div>
  
</section>

<section class="section-5">
  <div class="section-5-wrapper">
    <div class="info-container">
      <div class="image-box">
        <img src="assets/images/home_oval_agent.png" alt="image of Doss Agent" style="width: 100%;">
      </div>
      <div class="text-box">
        <p class="large-text-blue">techAGENT</p>
        <p class="regular-text-blue" style="margin-top: 10px; font-weight: 700; color: #3A679A;">/tek ajent/</p>
        <p class="regular-text-blue" style="margin-top: 50px; font-weight: 700; color: #3A679A;">noun</p>
        <p class="regular-text-blue" style="margin-top: 10px;font-size: 14px; font-weight: 400; color: #3A679A; line-height: 1.5;">•  a Realtor® who proficiently leverages technology to increase 
          transactional efficiencies that automate and streamline the real 
          estate process to reduce cost for the consumer without 
          sacrificing service. 
          <br> <br>
          •  a Realtor® that represents the NEXT ERA of real estate 
          practitioners that are dedicated to a consumer centric way of 
          doing business.
          <br> <br>
          •  a Realtor® that subscribes to a proven system and teamwork 
          that empowers everybody to function at their highest and 
          best value.</p>
      </div>
      
    </div>
  </div>
</section>

<section class="section-6">
  <div class="section-6-wrapper">
    <div class="doss-container">
      <div class="section-header">
        <p class="large-text-blue">JOIN US!</p>
        <p class="regular-text-blue" style="margin-top: 10px;">Become a techAGENT, or <br> buy a DOSS Franchise...</p>
      </div>
      <div class="section-6-cards-container">
        <div class="section-6-card" >
          <div class="section-6-card-content">
              <div class="section-6-card-icon">
                <img src="assets/images/home_icon_user.svg" alt="icon of card">
              </div>
              <div class="section-6-card-text">
                <p class="regular-text-blue" style="font-weight: 700;">Become a techAGENT</p>
                <p class="small-text-blue" style="margin-top: 20px; line-height: 1.5; color: #3A679A;">
                  •  100% Commission (Flat Fee) <br>
                  •  Real Innovative Technology <br>
                  •  Mastery Training <br>
                  •  A Structured Business Model! <br>
                  •  DOSS provides signage and supras!</p>
              </div>
              <div class="button-container">
                <a href="" routerLink="/join-us"><button class="doss-button">More info</button></a>
                
              </div>
          </div>
        </div>

        <div class="section-6-card">
          <div class="section-6-card-content">
              <div class="section-6-card-icon">
                <img src="assets/images/home_icon_home.svg" alt="icon of card">
              </div>
              <div class="section-6-card-text">
                <p class="regular-text-blue" style="font-weight: 700;">Open a DOSS Home Center</p>
                <p class="small-text-blue" style="margin-top: 20px; line-height: 1.5; color: #3A679A;">
                  •  A Mission Driven Tech Brand <br>
                  •  Buy an Exclusive Market Area <br>
                  •  Get Exclusive Smart Leads <br>
                  •  Support, Systems, and Training <br>
                  •  DOSS Social Agents included!</p>
              </div>
              <div class="button-container">
                <a href="" routerLink="/franchising"><button class="doss-button">More info</button></a>
                
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-7">
  <div class="section-7-wrapper">
    <div class="doss-container">
      <div class="section-header">
        <p class="large-text-blue">TAKE THE<br>FIRST STEP</p>
        <p class="regular-text-blue" style="margin-top: 10px;">
        Get started today by contacting one of our techAGENTS <br>
        at DOSS to successfully guide you through the process.</p>
      </div>
      <div class="section-7-images">
        <a href="" routerLink="/buyer"><img src="assets/images/home_buyer.png" alt="image of buyer" ></a>
        <a href="" routerLink="/seller"><img src="assets/images/home_seller.png" alt="image of buyer" ></a>
        <a href="" routerLink="/rent"><img src="assets/images/home_renter.png" alt="image of buyer" ></a>
      </div>
    </div>
  </div>
</section>
<section class="section-8">
  <div class="forbes-wrapper">
    <div class="forbes-container">
      <p class="regular-text-blue" style="color: #6689B1; padding-bottom: 10px;">As seen in</p>
      <img src="assets/images/home_forbes_logo.png" alt="">
    </div>
    <div class="article-container">
      <div class="article">
        <img src="assets/images/forbes_icon.PNG" alt="icon to represent article">
        <p class="regular-text-blue" style="padding: 15px 0; font-weight: 600;">Forbes Article 1</p>
        <a href="https://www.forbes.com/sites/forbesrealestatecouncil/2019/09/04/finding-that-perfect-house-how-technology-will-make-property-search-a-lot-more-personal/" target="_blank">READ</a>
      </div>

      <div class="article">
        <img src="assets/images/forbes_icon.PNG" alt="icon to represent article">
        <p class="regular-text-blue" style="padding: 15px 0; font-weight: 600;">Forbes Article 2</p>
        <a href="https://www.forbes.com/sites/donnafuscaldo/2018/09/26/home-buying-goes-high-tech-as-millennials-become-largest-real-estate-buyers/" target="_blank">READ</a>
      </div>

      <div class="article">
        <img src="assets/images/forbes_icon.PNG" alt="icon to represent article">
        <p class="regular-text-blue" style="padding: 15px 0; font-weight: 600;">Forbes Article 3</p>
        <a href="https://www.forbes.com/sites/alyyale/2018/08/29/real-estate-tech-investments-are-up-here-are-the-tools-to-watch/" target="_blank">READ</a>
      </div>
    </div>
  </div>
</section>
<!-- <section class="section-9">
  <div class="section-9-wrapper">
    <div class="section-9-text">
      <p class="large-text-white">COMING SOON <br> FALL 2020</p>
        <p class="regular-text-white" style="margin-top: 10px;">
          A Voice-Activated Intelligent Assistant 
          built into a proprietary real estate 
          search portal to radically evolve the 
          way people search and transact 
          property around the world.
        </p>
    </div>
  </div>
</section> -->

<section class="section-10">
  <div class="section-10-wrapper">
    <div class="section-10-text">
      <p class="large-text-white" >COMING SOON</p>
      <p class="regular-text-white" style="margin: 10px 0; text-align: center;">A Voice-Activated Intelligent Assistant built into a proprietary real estate search portal to radically evolve the way people search and transact property around the world.</p>
      <p class="large-text-white">FALL 2020</p>
    </div>
    <div class="section-10-img">
      <img src="../../../assets/images/IMG-5823.JPG" alt="">
    </div>
  </div>
</section>