
.hero {
    height: calc(100vh - 10em);
}
.wrapper {
    position: relative; 
    z-index: 2;    
    opacity: 1; 
    overflow: hidden;
    .heading {
        padding: 2rem 0;
        margin-bottom: 2rem;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 700 !important;
        color: #164f8c;
        text-align: center;
    }
    @media only screen and  (min-width: 768px) {
        .heading {
            font-size: 4rem;
        }
    }
    #tech-agent {
        background-color: #f5f6fa;
    }
    #doss {
        height: 100%;
        
    }
}   