<section class="section-1">
    <div class="hero-container">
      <div class="hero-text-container">
        <div class="hero-text">
          <p class="large-text-white anim-down">SUCCESS is a DECISION</p>
          <p class="regular-text-white anim-down" style="margin-top: 10px;">And we are here to help you. Join Us Today!</p>
        </div>
      </div>
    </div>
</section>

<section class="section-2">
    <div class="section-2-wrapper">
      <div class="info-container">
        <div class="image-box">
          <img src="assets/images/home_oval_agent.png" alt="image of Doss Agent" style="width: 100%;">
        </div>
        <div class="text-box">
          <p class="large-text-blue">TECH Agent™</p>
          <p class="regular-text-blue" style="margin-top: 10px; color: #3A679A;">Is your current Brokerage designed for the future? Are they structurally and technologically built to help you be competitive in your market? If not, it's tme to join a purpose driven tech brokerage. It's time for you to become a TECH Agent!</p>
        </div>
        
      </div>
    </div>
</section>


<section class="section-3">
    <div class="section-3-wrapper">
        <div class="doss-container">
            <div class="section-header">
                <p class="large-text-blue" style="text-align: center;">WHAT DO YOU GET AT DOSS?</p>
            </div>
            <img src="assets/images/about_doss_services_collage.png" alt="">
        </div>
    </div>
</section>

<section class="section-4">
    <div class="section-4-wrapper">
        <div class="doss-container">
            <div class="section-header">
              <p class="large-text-blue">Contact Us</p>
            </div>

            <div class="section-4-form">
                <form action="#">
                  <div class="form-input-group">
                      <div class="form-input">
                          <label for=""><p class="regular-text-blue">First Name</p></label>
                          <input type="text">
                      </div>

                      <div class="form-input">
                        <label for=""><p class="regular-text-blue">Last Name</p></label>
                        <input type="text">
                      </div>

                      <div class="form-input">
                        <label for=""><p class="regular-text-blue">Phone Number</p></label>
                        <input type="text">
                      </div>

                      <div class="form-input">
                        <label for=""><p class="regular-text-blue">Email</p></label>
                        <input type="text">
                      </div>

                      <div class="form-input">
                        <label for=""><p class="regular-text-blue">Current Broker</p></label>
                        <input type="text">
                      </div>

                      <div class="form-input">
                        <label for=""><p class="regular-text-blue">Years Licensed</p></label>
                        <input type="text">
                      </div>

                      <div class="form-input">
                        <label for=""><p class="regular-text-blue">Number of Closing in 2018</p></label>
                        <input type="text">
                      </div>

                      <div class="form-input">
                        <label for=""><p class="regular-text-blue">Number of Closing in 2019</p></label>
                        <input type="text">
                      </div>
                  </div>

                  <input type="submit" value="Send">
                      
                </form>
            </div>
        </div>
    </div>
</section>