<section id="hero-section">
    <app-hero [heading]="heroHeading" [text]="heroText" [backgroundImage]="'join_us_hero.png'"></app-hero>
</section>
<div class="wrapper">
    <section id="tech-agent">
        <app-right-align [textColor]="'blue'" [bgColor]="'grey'">
            <div heading>
                TECH Agent™
            </div>
            <div text>
                <p> {{ techAgentText }}</p>
            </div>
            <div pic>
                <img src="assets/images/about_us_tech_agent.png">
            </div>
        </app-right-align>
    </section>
    <section id="doss">
        <div class="heading">{{ dossHeading }}</div>
        <img src="assets/images/doss_services_collage.png" alt="">
    </section>
    <section id="sign-up-form">
        <div class="form-wrapper">
            <p class="heading text-center">Contact Us</p>
            <div class="container form-container">
                <form [formGroup]="signUpForm" (ngSubmit)="submitForm(signUpForm)">
                    <div class="mb-4">
                        <label for="firstName">First Name</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input type="text" class="form-control" id="firstName" placeholder="First Name"
                                name="firstName" formControlName="firstName" required />
                        </div>
                        <div class="text-center" *ngIf="sf.firstName.touched && sf.firstName.errors?.required">
                            <div class="text-danger py-1">First name is required.</div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="lastName">Last Name</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                                name="lastName" formControlName="lastName" required />
                        </div>
                        <div class="text-center" *ngIf="sf.lastName.touched && sf.lastName.errors?.required">
                            <div class="text-danger py-1">Last name is required.</div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="bestNumber">Best Number</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input type="text" class="form-control" id="bestNumber" placeholder="Best Number"
                                name="bestNumber" formControlName="phoneNumber" required />
                        </div>
                        <div class="text-center" *ngIf="sf.phoneNumber.touched && sf.phoneNumber.errors?.required">
                            <div class="text-danger py-1">Best number is required.</div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="email">Email</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input type="text" class="form-control" id="email" placeholder="Email" name="email"
                                formControlName="email" required />
                        </div>
                        <div class="text-center" *ngIf="sf.email.touched && sf.email.errors?.required">
                            <div class="text-danger py-1">Email is required.</div>
                        </div>
                        <div class="text-center" *ngIf="sf.email.dirty">
                            <div class="text-danger py-1" *ngIf="sf.email.invalid">
                                Please enter a valid email address
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="currentBroker">Current Broker</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input type="text" class="form-control" id="currentBroker" placeholder="Current Broker"
                                name="currentBroker" formControlName="currentBroker" />
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="yearsLicensed">Years Licensed</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input type="text" class="form-control" id="yearsLicensed" placeholder="Years Licensed"
                                name="yearsLicensed" formControlName="yearsLicensed" required />
                        </div>
                        <div class="text-center" *ngIf="sf.yearsLicensed.touched && sf.yearsLicensed.errors?.required">
                            <div class="text-danger py-1">Years licensed is required.</div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="closing2018"># of Closing in 2018</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input type="text" class="form-control" id="closing2018" placeholder="0"
                                name="closing2018" formControlName="closing2018" required />
                        </div>
                        <div class="text-center" *ngIf="sf.closing2018.touched && sf.closing2018.errors?.required">
                            <div class="text-danger py-1"># of Closes in 2018 is required.</div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="closing2018"># of Closing in 2019</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input type="text" class="form-control" id="closing2019" placeholder="0"
                                name="closing2018" formControlName="closing2019" required />
                        </div>
                        <div class="text-center" *ngIf="sf.closing2019.touched && sf.closing2019.errors?.required">
                            <div class="text-danger py-1"># of Closes in 2019 is required.</div>
                        </div>
                    </div>
                    <hr class="mb-4" />
                    <div class="submit-btn">
                        <button [disabled]="!signUpForm.valid" class="btn btn-primary btn-lg btn-block" type="submit">
                            Send
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section id="call-us">
        <app-contact-number></app-contact-number>
    </section>
</div>