<section class="section-1">
  <div class="hero-container">
    <div class="hero-text-container">
      <div class="hero-text">
        <p class="large-text-white">A Tech company, <br>That sells Real Estate!</p>
        <p class="regular-text-white" style="margin-top: 10px;">BETTER Marketing, BETTER Service, and BETTER Support <br> for a Flat Fee.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-2">
  <div class="section-2-wrapper">
    <div class="doss-container">
      <div class="section-header">
        <p class="large-text-blue" style="text-align: center;">ADVERTISING & <br> MARKETING EXPERTS</p>
      </div>

      <div class="icon-container">
        <div class="icon">
          <img src="../../../assets/seller/3d_tour.svg" alt="icon" style="margin: 10px">
          <p class="regular-text-blue" style="font-weight: 600; text-align: center;">3D Virtual <br>Tour</p>
        </div>

        <div class="icon">
          <img src="../../../assets/seller/digital_marketing.svg" alt="icon" style="margin: 10px">
          <p class="regular-text-blue" style="font-weight: 600; text-align: center;">Digital <br>Marketing</p>
        </div>

        <div class="icon">
          <img src="../../../assets/seller/photograph.svg" alt="icon" style="margin: 10px">
          <p class="regular-text-blue" style="font-weight: 600; text-align: center;">Professional <br>Photograph</p>
        </div>

        <div class="icon">
          <img src="../../../assets/seller/booklet.svg" alt="icon" style="margin: 10px">
          <p class="regular-text-blue" style="font-weight: 600; text-align: center;">Property <br>Booklets</p>
        </div>
      </div>

      <div class="matterport-showcase">
        <iframe width='853' height='480' src='https://my.matterport.com/show/?m=LG4S9MWrRft' frameborder=0 allowfullscreen allow='xr-spatial-tracking'></iframe>
       </div>
    </div>
  </div>
</section>

<section class="section-3">
  <div class="section-3-wrapper">
    <div class="section-3-text">
      <p class="large-text-white">$3,000 or $30,000</p>
        <p class="regular-text-white" style="margin-top: 10px;">
          It’s not about justifying historically high commissions.
          <br> <br>
          It’s about giving people great service, that satisfies everything they 
          need and want at a fair price.
          <br> <br>
          Our MISSION, is to make homeownership in America more affordable 
          by leveraging the best technology and passing the savings on to you! 
        </p>
    </div>
  </div>
</section>

<section class="section-4">
  <div class="section-4-wrapper">
    <div class="doss-container">
      <div class="section-header">
        <p class="large-text-blue">LISTING AS A<br />SERVICE (LAAS)</p>
        <p class="regular-text-blue" style="margin-top: 10px;">Please select the following options below as needed</p>
      </div>

      <div class="section-4-price-cards">
        <div class="price-card">
          <div class="price-card-header">
            <p class="card-text-1">I want help with selling</p>
          </div>
          <div class="price-card-body">
            <p class="card-text-2">$365*</p>
            <p class="card-text-3"><b>Great for</b> builders, FSBO's, Invstors, and Savy Sellers. Get access to the MLS for an upfront Flat Fee. Save Thousands!</p>
            <button class="card-button">Select</button>
          </div>
        </div>

        <div class="price-card">
          <div class="price-card-header">
            <p class="card-text-1" style="font-weight: 700;">I want Full Service</p>
          </div>
          <div class="price-card-body">
            <p class="card-text-2">$1,295*</p>
            <p class="card-text-3"><b>Great for</b> Sellers that want the best service, at the best price, and their property SOLD fast! We are here to help!</p>
            <button class="card-button">Select</button>
          </div>
        </div>
      </div>

      <div class="footnote-container">
        <div class="footnote-container">
          <p class="footnote" style="color: #9E9E9E; line-height: 2;">
            *$395 has to be paid upfront. A la carte services are available to purchase. <br>
            *$1,295 for houses below 3,500 sqft. $1,995 for houses above 3,500 sqft. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-5">
  <div class="section-5-wrapper">
      <div class="doss-container">
        <div class="section-header" >
            <p class="large-text-blue">Side-by-Side Comparison</p>
            <p class="regular-text-blue" style="margin-top: 10px;">You get what you pay for: Great Service, at a fair price!</p>
          </div>

          <div class="doss-table">
            <div class="table-list-container">
                <div class="table-header">
                    <div class="table-section-1">
                        <p class="regular-text-blue table-left-padding" style="font-weight: 600; ">Services</p>
                    </div> 
                    <div class="table-section-2">
                        <div class="folder">
                            <p class="regular-text-blue" style="font-weight: 600;">$395</p>
                        </div>
                        <div class="folder">
                            <p class="regular-text-blue" style="font-weight: 600;">$1,295*</p>
                        </div>
                    </div> 
                </div>
    
                <div class="table-list">
                    <div class="table-section-1">
                        <p class="regular-text-blue table-left-padding">Flat Fee</p>
                    </div>
                    <div class="table-section-2">
                        <div class="check">
                          <img src="../../../assets/buyer/check.svg" alt="">
                        </div>
                        <div class="check">
                            <img src="../../../assets/buyer/check.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="table-list">
                    <div class="table-section-1">
                        <p class="regular-text-blue table-left-padding">Local Agent</p>
                    </div>
                    <div class="table-section-2">
                        <div class="check">
                            <img src="../../../assets/buyer/check.svg" alt="">
                        </div>
                        <div class="check">
                            <img src="../../../assets/buyer/check.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="table-list">
                    <div class="table-section-1">
                        <p class="regular-text-blue table-left-padding">Open Houses</p>
                    </div>
                    <div class="table-section-2">
                        <div class="check">
                           
                        </div>
                        <div class="check">
                            <img src="../../../assets/buyer/check.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="table-list">
                    <div class="table-section-1">
                        <p class="regular-text-blue table-left-padding">Expert Negotiators</p>
                    </div>
                    <div class="table-section-2">
                        <div class="check">
                            
                        </div>
                        <div class="check">
                            <img src="../../../assets/buyer/check.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="table-list">
                    <div class="table-section-1">
                        <p class="regular-text-blue table-left-padding">The Support of a TEAM</p>
                    </div>
                    <div class="table-section-2">
                        <div class="check">
                            
                        </div>
                        <div class="check">
                            <img src="../../../assets/buyer/check.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="table-list">
                    <div class="table-section-1">
                        <p class="regular-text-blue table-left-padding">Concierge Services</p>
                    </div>
                    <div class="table-section-2">
                        <div class="check">
                           
                        </div>
                        <div class="check">
                            <img src="../../../assets/buyer/check.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="table-list">
                    <div class="table-section-1">
                        <p class="regular-text-blue table-left-padding">Attend all Inspections</p>
                    </div>
                    <div class="table-section-2">
                        <div class="check">
                            
                        </div>
                        <div class="check">
                            <img src="../../../assets/buyer/check.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="table-list">
                    <div class="table-section-1">
                        <p class="regular-text-blue table-left-padding">Professional Photos</p>
                    </div>
                    <div class="table-section-2">
                        <div class="check">
                           
                        </div>
                        <div class="check">
                            <img src="../../../assets/buyer/check.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="table-list">
                    <div class="table-section-1">
                        <p class="regular-text-blue table-left-padding">Professional 3D Virtual Tour</p>
                    </div>
                    <div class="table-section-2">
                        <div class="check">
                            
                        </div>
                        <div class="check">
                            <img src="../../../assets/buyer/check.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="table-list">
                    <div class="table-section-1">
                        <p class="regular-text-blue table-left-padding">Professional Yard Signage</p>
                    </div>
                    <div class="table-section-2">
                        <div class="check">
                          <img src="../../../assets/buyer/check.svg" alt="">
                        </div>
                        <div class="check">
                            <img src="../../../assets/buyer/check.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="table-list">
                    <div class="table-section-1">
                        <p class="regular-text-blue table-left-padding">Professional Property Booklets</p>
                    </div>
                    <div class="table-section-2">
                        <div class="check">
                           
                        </div>
                        <div class="check">
                            <img src="../../../assets/buyer/check.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="table-list">
                    <div class="table-section-1">
                        <p class="regular-text-blue table-left-padding">Social Media Digital Marketing</p>
                    </div>
                    <div class="table-section-2">
                        <div class="check">
                            
                        </div>
                        <div class="check">
                            <img src="../../../assets/buyer/check.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="table-list">
                  <div class="table-section-1">
                      <p class="regular-text-blue table-left-padding">Pricing Support(CMA)</p>
                  </div>
                  <div class="table-section-2">
                      <div class="check">
                          
                      </div>
                      <div class="check">
                          <img src="../../../assets/buyer/check.svg" alt="">
                      </div>
                  </div>
              </div>

              <div class="table-list">
                <div class="table-section-1">
                    <p class="regular-text-blue table-left-padding">Listed on MLS, Zillow, etc</p>
                </div>
                <div class="table-section-2">
                    <div class="check">
                      <img src="../../../assets/buyer/check.svg" alt="">
                    </div>
                    <div class="check">
                        <img src="../../../assets/buyer/check.svg" alt="">
                    </div>
                </div>
            </div>

            <div class="table-list-last">
              <div class="table-section-1">
                  <p class="regular-text-blue table-left-padding">Staff Real Estate Attorney</p>
              </div>
              <div class="table-section-2">
                  <div class="check">
                      
                  </div>
                  <div class="check">
                      <img src="../../../assets/buyer/check.svg" alt="">
                  </div>
              </div>
          </div>
    
            </div>
            
        </div>

        <div class="footnote-container">
            <p class="footnote" style="color: #9E9E9E; line-height: 2;">
              $1,295 for all homes below 3,500 sqft. $1,995 for all homes over 3,500 sqft. 
            </p>
          </div>
      </div>
  </div>
</section>

<section class="section-6">
  <div class="section-6-wrapper">
      <div class="doss-container">
          <div class="section-header">
            <p class="large-text-blue">Schedule a Seller<br>Consultation</p>
          </div>

          <div class="section-6-form">
              <form action="#">
                <div class="form-input-group">
                    <div class="form-input">
                        <label for=""><p class="regular-text-blue">Seller Name</p></label>
                        <input type="text">
                    </div>

                    <div class="form-input">
                      <label for=""><p class="regular-text-blue">Co-Seller Name(If Applicable)</p></label>
                      <input type="text">
                    </div>

                    <div class="form-input">
                      <label for=""><p class="regular-text-blue">Seller Email</p></label>
                      <input type="text">
                    </div>

                    <div class="form-input">
                      <label for=""><p class="regular-text-blue">Co-Seller Email(If Applicable)</p></label>
                      <input type="text">
                    </div>

                    <div class="form-input">
                        <label for=""><p class="regular-text-blue">Seller Phone Number</p></label>
                        <input type="text">
                    </div>

                    <div class="form-input">
                        <label for=""><p class="regular-text-blue">Co-Seller Phone Number(If Applicable)</p></label>
                        <input type="text">
                    </div>
                </div>

                <div class="form-input-group">
                  <div class="form-input">
                      <label for=""><p class="regular-text-blue">Address of property you want to sell?</p></label>
                      <input type="text">
                  </div>
                </div>

                <div class="radio-input-group">
                  <p class="regular-text-blue" style="margin-bottom: 10px;">When are you looking to sell?</p>
                  <div class="radio-input-selections">
                      <div class="radio-input">
                        <input type="radio" id="now" name='when-buy' class="regular-radio">
                        <label for="now" ><p class="regular-text-blue">Now</p></label>
                      </div>

                      <div class="radio-input">
                          <input type="radio" id="3mon" name='when-buy' class="regular-radio">
                          <label for="3mon" ><p class="regular-text-blue">0-3 months</p></label>
                        </div>

                        <div class="radio-input">
                          <input type="radio" id="6mon" name='when-buy' class="regular-radio">
                          <label for="6mon" ><p class="regular-text-blue">3-6 months</p></label>
                        </div>

                        <div class="radio-input">
                          <input type="radio" id="12mon" name='when-buy' class="regular-radio">
                          <label for="12mon" ><p class="regular-text-blue">6-12 months</p></label>
                        </div>

                  </div>
                </div>

                <div class="form-input-group">
                  <div class="form-input">
                      <label for=""><p class="regular-text-blue">What should be the listing price for the house?</p></label>
                      <input type="text">
                  </div>
                </div>

                <div class="radio-input-group">
                  <p class="regular-text-blue" style="margin-bottom: 10px;">Do you have any pets that will be living with you?</p>
                  <div class="radio-input-selections">
                      <div class="radio-input">
                        <input type="radio" id="yes" name='approval' class="regular-radio">
                        <label for="yes" ><p class="regular-text-blue">Yes</p></label>
                      </div>

                      <div class="radio-input">
                        <input type="radio" id="no" name="approval" class="regular-radio">
                        <label for="no"><p class="regular-text-blue">No</p></label>
                      </div>
                  </div>
                </div>

                <div class="form-input-group">
                    <label for="description"><p class="regular-text-blue">Why are you selling?</p></label>
                    <textarea name="describe" id="description" ></textarea>
                </div>

                <input type="submit" value="Send">
                    
              </form>
          </div>
      </div>
  </div>
</section>