<section class="section-1">
  <div class="hero-container">
    <div class="hero-text-container">
      <div class="hero-text">
        <p class="large-text-white anim-up">
          A TECH COMPANY, <br />that sells real estate!
        </p>
        <p class="regular-text-white anim-down" style="margin-top: 10px">
          BETTER Marketing. BETTER Options. BETTER Service.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-2">
  <div class="section-2-wrapper">
    <div class="doss-container">
      <div class="section-header">
        <p class="large-text-blue" style="text-align: center">
          ADVERTISING & <br />
          MARKETING EXPERTS
        </p>
      </div>

      <div class="icon-container">
        <div class="icon">
          <img
            src="assets/images/3d_tour.svg"
            alt="icon"
            style="margin: 10px"
          />
          <p
            class="regular-text-blue"
            style="font-weight: 600; text-align: center"
          >
            3D Virtual <br />Tour
          </p>
        </div>

        <div class="icon">
          <img
            src="assets/images/digital_marketing.svg"
            alt="icon"
            style="margin: 10px"
          />
          <p
            class="regular-text-blue"
            style="font-weight: 600; text-align: center"
          >
            Digital <br />Marketing
          </p>
        </div>

        <div class="icon">
          <img
            src="assets/images/photograph.svg"
            alt="icon"
            style="margin: 10px"
          />
          <p
            class="regular-text-blue"
            style="font-weight: 600; text-align: center"
          >
            Professional <br />Photograph
          </p>
        </div>

        <div class="icon">
          <img
            src="assets/images/booklet.svg"
            alt="icon"
            style="margin: 10px"
          />
          <p
            class="regular-text-blue"
            style="font-weight: 600; text-align: center"
          >
            Property <br />Booklets
          </p>
        </div>
      </div>

      <div class="test-laptop">
        <a [href]="matterportLink" target="_blank"
          ><img src="assets/images/laptop-01-01.png" alt=""
        /></a>
      </div>

      <div class="matterport-showcase">
        <iframe
          width="853"
          height="480"
          [src]="matterportLink"
          frameborder="0"
          allowfullscreen
          allow="xr-spatial-tracking"
        ></iframe>
      </div>
    </div>
  </div>
</section>

<section class="section-3">
  <div class="section-3-wrapper">
    <div class="section-3-text">
      <p class="large-text-white">Restructing Real Estate!</p>
      <p class="regular-text-white" style="margin-top: 10px">
        It’s not about justifying historically high commissions.
        <br />
        <br />
        It’s about giving people great service, that satisfies everything they
        need and want at a fair price. <br />
        <br />
        OUR MISSION, is to make homeownership more affordable by developing the
        best technology to increase transactional efficiencies in order to pass
        the savings on to you!
      </p>
    </div>
  </div>
</section>

<section class="section-4">
  <div class="section-4-wrapper">
    <div class="doss-container">
      <div class="section-header">
        <p class="large-text-blue">LISTINGS as a<br />SERVICE (LaaS)</p>
        <p class="regular-text-blue" style="margin-top: 10px">
          Select a Seller Package based on the level of service you need and
          want.
        </p>
      </div>

      <div class="section-4-price-cards">
        <div class="price-card">
          <div class="price-card-header card-text-1">
            <p style="font-weight: 600; margin-bottom: 0.5rem">DOSSIT!</p>
            <span style="font-size: 1.2rem">TOTALLY FREE, total control!</span>
          </div>
          <div class="price-card-body">
            <p class="card-text-2">FREE!*</p>
            <p class="card-text-3"><b>About:</b> Listed on DOSS(Non-MLS)</p>
            <p class="card-text-3" style="height: 6rem;">
              <b>Great for:</b> Builders, FSBO's, Investors, Landlords, Room
              Rentals, Short-Term Rentals, Vacation Rentals, and Wholesalers.
            </p>
            <a href="" routerLink="/seller-flat-rate"
              ><button class="card-button">Select</button></a
            >
          </div>
        </div>

        <div class="price-card">
          <div class="price-card-header card-text-1">
            <p style="font-weight: 600; margin-bottom: 0.5rem">DOSS Basic</p>
            <span style="font-size: 1.2rem">YOU SELL IT, we can help!</span>
          </div>
          <div class="price-card-body">
            <p class="card-text-2">$595*</p>
            <p class="card-text-3"><b>About:</b> Flat Fee MLS Listing</p>
            <p class="card-text-3" style="height: 6rem;">
              <b>Great for:</b> Builders, FSBO's, Investors, and Savy Sellers.
              Get access to the MLS for an upfront Flat Fee. Save Thousands!
            </p>
            <a href="" routerLink="/seller-flat-rate"
              ><button class="card-button">Select</button></a
            >
          </div>
        </div>

        <div class="price-card">
          <div class="price-card-header card-text-1">
            <p style="font-weight: 600; margin-bottom: 0.5rem">DOSS PLATINUM</p>
            <span style="font-size: 1.2rem">FULL SERVICE, at a fair price!</span>
          </div>
          <div class="price-card-body">
            <p class="card-text-2">1% Listing Fee*</p>
            <p class="card-text-3" ><b>About:</b> Full Service MLS Listing</p>
            <p class="card-text-3" style="height: 6rem;">
              <b>Great for:</b>  Sellers that want Full-Service, at the best price, and their property SOLD fast. Preserve some of your equity!
            </p>
            <a href="" routerLink="/seller-flat-rate"
              ><button class="card-button">Select</button></a
            >
          </div>
        </div>
      </div>

      <div class="footnote-container">
        <div class="footnote-container">
          <p class="footnote">
            *DOSSIT! is a Non-MLS listing service that empowers property owners to exclusively list on DOSS in front of millions of potential buyers and renters around the world. <br />
            $595 is paid upfront. A la carte services are available to purchase. <br />
            1% Listing Fee to DOSS, recommend 3% commission to Buyers Agent.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-5">
  <div class="section-5-wrapper">
    <div class="doss-container">
      <div class="section-header">
        <p class="large-text-blue">Side-by-Side Comparison</p>
        <p class="regular-text-blue" style="margin-top: 10px">
          You get what you pay for: Great Service, at a fair price!
        </p>
      </div>
    </div>

    <div class="special-table-container">
      <div class="doss-table">
        <div class="table-list-container">
          <div class="table-header">
            <div class="table-section-1">
              <p
                class="regular-text-blue table-left-padding"
                style="font-weight: 600"
              >
                Services
              </p>
            </div>
            <div class="table-section-2">
              <div class="folder">
                <p class="small-text-blue" style="font-weight: 600">
                  Traditional
                </p>
              </div>
              <div class="folder">
                <p class="small-text-blue" style="font-weight: 600">
                  DOSSIT!
                </p>
              </div>
              <div class="folder">
                <p class="small-text-blue" style="font-weight: 600">
                  DOSS Basic <br />
                  <span style="font-weight: 300">$395*</span>
                </p>
              </div>
              <div class="folder">
                <p class="small-text-blue" style="font-weight: 600">
                  DOSS Platinum <br /><span style="font-weight: 300"
                    >1% Listing Fee</span
                  >
                </p>
              </div>
            </div>
          </div>

          <div class="table-list">
            <div class="table-section-1">
              <p class="regular-text-blue table-left-padding">Local Agent</p>
            </div>
            <div class="table-section-2">
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
              <div class="check"></div>
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="table-list">
            <div class="table-section-1">
              <p class="regular-text-blue table-left-padding">Open Houses</p>
            </div>
            <div class="table-section-2">
              <div class="check"></div>
              <div class="check"></div>
              <div class="check"></div>
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="table-list">
            <div class="table-section-1">
              <p class="regular-text-blue table-left-padding">
                Expert Negotiators
              </p>
            </div>
            <div class="table-section-2">
              <div class="check"></div>
              <div class="check"></div>
              <div class="check"></div>
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="table-list">
            <div class="table-section-1">
              <p class="regular-text-blue table-left-padding">
                The Support of a TEAM
              </p>
            </div>
            <div class="table-section-2">
              <div class="check"></div>
              <div class="check"></div>
              <div class="check"></div>
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="table-list">
            <div class="table-section-1">
              <p class="regular-text-blue table-left-padding">
                Concierge Services
              </p>
            </div>
            <div class="table-section-2">
              <div class="check"></div>
              <div class="check"></div>
              <div class="check"></div>
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="table-list">
            <div class="table-section-1">
              <p class="regular-text-blue table-left-padding">
                Attend all Inspections
              </p>
            </div>
            <div class="table-section-2">
              <div class="check">
                <p class="small-text-blue">Maybe</p>
              </div>
              <div class="check"></div>
              <div class="check"></div>
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="table-list">
            <div class="table-section-1">
              <p class="regular-text-blue table-left-padding">
                Professional Photos
              </p>
            </div>
            <div class="table-section-2">
              <div class="check">
                <p class="small-text-blue">Maybe</p>
              </div>
              <div class="check"></div>
              <div class="check"></div>
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="table-list">
            <div class="table-section-1">
              <p class="regular-text-blue table-left-padding">
                Professional 3D Virtual Tour
              </p>
            </div>
            <div class="table-section-2">
              <div class="check"></div>
              <div class="check"></div>
              <div class="check"></div>
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="table-list">
            <div class="table-section-1">
              <p class="regular-text-blue table-left-padding">
                Professional Yard Sign
              </p>
            </div>
            <div class="table-section-2">
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
              <div class="check"></div>
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
            </div>
          </div>
          <div class="table-list">
            <div class="table-section-1">
              <p class="regular-text-blue table-left-padding">
                Purchase Yard Sign
              </p>
            </div>
            <div class="table-section-2">
              <div class="check"></div>
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
              <div class="check"></div>
              <div class="check"></div>
            </div>
          </div>

          <div class="table-list">
            <div class="table-section-1">
              <p class="regular-text-blue table-left-padding">
                Professional Property Booklets
              </p>
            </div>
            <div class="table-section-2">
              <div class="check"></div>
              <div class="check"></div>
              <div class="check"></div>
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="table-list">
            <div class="table-section-1">
              <p class="regular-text-blue table-left-padding">
                Social Media Digital Marketing
              </p>
            </div>
            <div class="table-section-2">
              <div class="check"></div>
              <div class="check"></div>
              <div class="check"></div>
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="table-list">
            <div class="table-section-1">
              <p class="regular-text-blue table-left-padding">
                Pricing Support(CMA)
              </p>
            </div>
            <div class="table-section-2">
              <div class="check"></div>
              <div class="check"></div>
              <div class="check"></div>
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="table-list">
            <div class="table-section-1">
              <p class="regular-text-blue table-left-padding">
                Listed on MLS, Zillow, etc
              </p>
            </div>
            <div class="table-section-2">
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
              <div class="check"></div>
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="table-list-last">
            <div class="table-section-1">
              <p class="regular-text-blue table-left-padding">
                Staff Real Estate Attorney
              </p>
            </div>
            <div class="table-section-2">
              <div class="check"></div>
              <div class="check"></div>
              <div class="check"></div>
              <div class="check">
                <img src="assets/images/check.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-seller-consultation></app-seller-consultation>
