<section id="header">
  <app-hero
    [heading]="heading"
    [text]="subheading"
    [backgroundImage]="'selling_with_doss.png'"
  ></app-hero>
</section>
<div class="wrapper">
  <section id="advertising">
    <div class="heading">
      <p>Advertising & Marketing Experts</p>
      <p class="sub-heading">In-House Media TEAM</p>
    </div>
    <div class="pics">
      <div class="left">
        <div class="pic">
          <img
            src="assets/images/photographer.png"
            alt="professional photographer"
          />
          <p>Professional Photographer</p>
        </div>
        <div class="pic">
          <img
            src="assets/images/3d_virtual_tour.png"
            alt="3D Virtual Tou"
          />
          <p>3D Virtual Tour</p>
        </div>
      </div>
      <div class="center">
        <a href="https://my.matterport.com/show/?m=LG4S9MWrRft" target="_blank">
          <img src="assets/images/laptop.png" alt="laptop" />
      </a>
      </div>
      <div class="right">
        <div class="pic">
          <img
            src="assets/images/property_booklets.png"
            alt="Property Booklets"
          />
          <p>Property Booklets</p>
        </div>
        <div class="pic">
          <img
            src="assets/images/digital_marketing.png"
            alt="Digital Marketing"
          />
          <p>Digital Marketing</p>
        </div>
      </div>
    </div>
  </section>
  <section id="money">
    <div class="heading">
      <p>$3,000 or $30,000…</p>
    </div>
    <div class="text">
      <p>It’s not about justifying historically high commissions...</p>
      <p>
        It’s about giving people great service, that satisfies everything they
        need and want at a fair price.
      </p>
      <p>
        Our MISSION, is to make homeownership in America more affordable by
        leveraging the best technology and passing the savings on to you!
      </p>
    </div>
  </section>
  <section id="power">
    <div class="container text-center">
      <div class="wrapper container">
        <div class="heading">
          <p>Listings as a Service (LaaS)</p>
        </div>
        <div class="sub-heading">
          You now have the option to select what you need and want.
        </div>
        <div class="services">
          <div class="service">
            <img src="assets/images/sell_it.png" alt="" />
            <p class="service-title">You sell it, we can help...</p>
            <p class="price">$395*</p>
            <div class="text-center py-2">
              <span
                >Great for builders, FSBO's, Invstors, and Savy Sellers.</span
              >
              <span
                >Get access to the MLS for an upfront Flat Fee. Save
                Thousands!</span
              >
            </div>

            <div class="service-btn text-center">
              <button
                type="button"
                class="btn btn-lg btn-block btn-outline-primary"
                routerLink="/seller-flat-rate"
              >
                START NOW!
              </button>
            </div>
          </div>
          <div class="service">
            <img src="assets/images/full_service.png" alt="" />
            <p class="service-title">Full Service, at a fair price ....</p>
            <p class="price">$1,295*</p>
            <div class="text-center py-2">
              <span
                >Great for Sellers that want the best service, at the best
                price, and their property SOLD fast!</span
              >
            </div>
            <div class="service-btn text-center">
              <button
                type="button"
                class="btn btn-lg btn-block btn-outline-primary"
                routerLink="/seller-full-service"
              >
                START NOW!
              </button>
            </div>
          </div>
        </div>
        <div class="footer text-muted">
          <p>
            *$395 has to be paid upfront. A la carte services are available to
            purchase.
          </p>
          <p>
            *$1,295 for houses below 3,500 sqft. $1,995 for houses above 3,500
            sqft.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="compare">
    <app-compare-table
      [bgColor]="'orange'"
      [heading]="compareTableHeading"
      [subHeading]="compareTableSubHeading"
      [data]="compareTableData"
    >
    </app-compare-table>
    <div class="disclaimer text-center">
      <p>
        $1,295 for all homes below 3,500 sqft. $1,995 for all homes over 3,500
        sqft.
      </p>
    </div>
  </section>
  <section id="contact-number">
    <app-contact-number></app-contact-number>
  </section>
</div>
