//SECTION-1
.hero-container {
    // width: 100vw;
    height: 90vh;
    max-height: 1024px;
    // max-width: 100%;

    background-image: url("../../../assets/images/hero_sell_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 1169px) {
        .hero-text-container {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

//SECTION-2
.section-2-wrapper {
    display: flex;
    justify-content: center;
    background: #F8F9FB;
}

.icon-container {
    display: flex;
    justify-content: space-around;

    margin-bottom: 50px;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 10px;
}

.test-laptop {
    display: flex;
    justify-content: center;
}
.matterport-showcase {
    margin-bottom: 50px;
    display: none;

}
.matterport-showcase iframe{
    min-height: 240px;
    margin: 16px 0;
    width: 100%;

    border: none;
    border-radius: 5px;
}

  @media screen and (min-width: 768px) {
  .matterport-showcase iframe {
    min-height: 360px; }}

  @media screen and (min-width: 992px) {
  .matterport-showcase iframe {
    height: 600px;
    max-width: 1068px;
    margin: 0 auto 15px; }}

  .matterport-showcase {
    text-align: center;
  }


@media only screen and (max-width: 1169px) {
    .test-laptop {display: none;}
    .matterport-showcase {
        display: block;
    }
}
@media only screen and (max-width: 767px) {

    .icon img {
        width: 45px;
    }
}


// SECTION-3
.section-3-wrapper {
    // min-height: 45vh;
    background: #EF6C40;

    background-image: url('../../../assets/images/home_mic_logo.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left;


    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3-text {
    width: 60vw;
    margin: 200px 0;
}

@media only screen and (max-width: 1169px) {
    .section-3-wrapper {
        min-height: 35vh;
    }
}
@media only screen and (max-width: 767px) {
   .section-3-wrapper {
       background-image: none;
   }
    .section-3-text {
        margin: 50px 0;
    }
}


//SECTION-4
.section-4-wrapper {
    display: flex;
    justify-content: center;
    background: #F8F9FB;
}

.section-4-price-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    margin-bottom: 30px;
}

.price-card {
    width: 350px;
    min-height: 100px;
    margin: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.07);
}

.price-card-header {
    // height: 20%;
    background: #E8EEF4;
    border-radius: 10px 10px 0 0;
    padding: 0 30px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.price-card-body {
    height: 80%;
    padding: 0 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.card-text-1 {
    font-size: 24px;
    font-weight: 400;
    color: #174D89;
    margin: 0;
    padding: 30px 0;
}
.card-text-2 {
    font-size: 38px;
    font-weight: 800;
    color: #EF6C40;
    margin: 0;

    padding: 30px 0;
}
.card-text-3 {
    font-size: 18px;
    font-weight: 400;
    color: #3A679A;
    margin: 0;
}

.card-button {
    width: 100%;
    min-width: 150px;
    height: 50px;

    font-size: 14px;
    color: white;
    background: #174D89;

    border:none;
    border-radius: 5px;

    margin: 30px 0;
}
.card-button:hover {
    background: #13457e;
}

.footnote {
    color: #9E9E9E;
    line-height: 2;
}

@media only screen and (max-width: 980px) {
    .price-card {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .price-card {
        margin: 10px;
    }
    .card-text-1 {
        font-size: 18px;
        padding: 20px 0;
    }
    .card-text-2 {
        font-size: 32px;
        padding: 20px 0;
    }
    .card-text-3 {
        font-size: 14px;
    }
}

//SECTION-5
.section-5-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F8F9FB
}

.special-table-container {
    width: 80vw;
    max-width: 1170px;

    margin-bottom: 50px;
}
.doss-table {
    /* border: 1px solid black; */

    border-radius: 10px;
    width: 100%;


    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.07);
}

.table-header {
    width: 100%;
    height: 100px;

    border-radius: 10px 10px 0 0;
    background: #E8EEF4;

    display: flex;
}

.table-left-padding {
    padding-left: 50px;
}
.table-section-1 {
    /* border: 1px solid red; */

    width: 40%;

    display: flex;
    align-items: center;
}
.table-section-2 {
    /* border: 1px solid red; */
    width: 60%;

    display: flex;
}
.folder {
    /* border: 1px dashed black; */

    width: 33.33%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}



.table-list {
    width: 100%;
    height: 100px;

    display: flex;

    background: white;
    border-bottom: 2px solid #E8EEF4;
}

.table-list-last {
    width: 100%;
    height: 100px;

    display: flex;

    background: white;
    border-radius: 0 0 10px 10px;
}

.check {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1169px) {
    .special-table-container {width: 100vw;}

}
@media only screen and (max-width: 767px) {

    .folder {padding: 0 30px;}
    .table-left-padding {
        padding-left: 20px;
    }
    .check img {
        width: 20px;
    }
}


//SECTION-6
