<section>
    <div class="doss-wrapper">
        <div class="section-header">
            <p class="large-text-blue" style="text-align: center;">DIGITAL COMMERCIAL ADS</p>
            <p class="regular-text-blue" style="text-align: center;">Learn about DOSS</p>
        </div>

        <div class="video-wrapper">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/1WinZ8PcK40" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/iJpE-QecrOA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/AXpMumQcSbs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>