<section>
    <div class="doss-wrapper">
        <div class="section-header">
            <p class="large-text-blue" style="text-align: center;">DIGITAL COMMERCIAL ADS</p>
            <p class="regular-text-blue" style="text-align: center;">Learn about DOSS</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0; ">Ask DOSS: Get a BUYER REBATE to lower your closing cost.</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1WinZ8PcK40" allowfullscreen></iframe>
                    </div>
                </div>
    
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0; ">Ask DOSS: Marketing a home is about the details</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iJpE-QecrOA" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="row" >
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0;">Ask DOSS: Want help finding your DREAM HOME?</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AXpMumQcSbs" allowfullscreen></iframe>
                    </div>
                </div>
    
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0; ">Ask DOSS: FULL-SERVICE, at a fair price...</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NWuW0vQRwbo" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0; ">Ask DOSS: Thinking about BUYING a home? We will always be with you!</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rAPmxQD4Fbw" allowfullscreen></iframe>
                    </div>
                </div>
    
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0; ">Ask DOSS: Thinking About BUYING A Home? We want you safe!</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iq10vIGz_wc" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="row" >
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0;">Ask DOSS: Thinking About Selling Your House? Need a BIGGER place?</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/R9UyUlUtPrM" allowfullscreen></iframe>
                    </div>
                </div>
    
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0; ">Ask DOSS: Thinking About Selling Your Home? FULL-SERVICE, at a fair price!</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HAD1V5rUPlQ" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0;">Ask DOSS: Thinking About Selling Your Home? We got you all the way!</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_dgFPAFhiyA" allowfullscreen></iframe>
                    </div>
                </div>
    
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0; ">Ask DOSS: Thinking About Selling Your Home? We sell, you focus on your next step!</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-AvWp7u95Es" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>