
.wrapper {
    background-color: #f5f6fa;
    padding: 6rem 0;
    .heading {
        font-size: 3rem;    
        font-weight: 500;
        margin-bottom: 2rem;
        color: #164f8c;
        text-transform: uppercase;
    }
    @media only screen and  (min-width: 768px) {
        .heading {
            font-size: 4rem;
        }
    }
}

.wrapper {
    
}