
  .wrapper {
    color: #fff;
    // width: 1792px;
    height: 100vh;
    left: -176px;
    top: 0px;
    background: linear-gradient(180deg, rgba(23, 78, 138, 0.35) 0%, rgba(23, 78, 138, 0.5) 100%);
    background-size: cover;
    @media only screen and (min-width: 1024px) {
      height: 1024px;
    }
    .heading {
      position: absolute;
      width: 294px;
      height: 231px;
      left: 33px;
      top: 239px;
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
      color: #FFFFFF;
      @media only screen and (min-width: 1024px) {
        width: 787px;
        left: 326px;
        top: 396px;
        font-size: 64px;
        line-height: 77px;
      }
    }
    .sub-heading {
      position: absolute;
      width: 253px;
      height: 34px;
      left: 33px;
      top: 403px;

      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;

      color: #E8E8E8;
      @media only screen and (min-width: 1024px) {
        width: 817px;
        height: 29px;
        left: 326px;
        top: 650px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
      }
    }

    .down-arrow {
      position: absolute;
      left: 48.84%;
      right: 48.91%;
      top: 90%;
      bottom: 88.15%;  
      @media only screen and (min-width: 1024px) {
        top: 70%;
      }    
    }
    // @media only screen and (min-width: 1024px) {
    //   .heading {
    //     line-height: 77px;
    //     font-size: 64px;
    //     line-height: 77px;
    //   }
    //   .sub-heading {
    //     height: 29px;
    //     font-family: Inter;
    //     font-style: normal;
    //     font-weight: normal;
    //     font-size: 24px;
    //     line-height: 29px;
    //     /* identical to box height */

    //     color: #e8e8e8;
    //   }
    // }

  }

