.main {
  background-color: initial;
  // position: relative;
  overflow: hidden;
  pointer-events: none;
  // position: fixed;
  width: 100%;
  // height: calc(100vh - 5rem);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-family: 'Inter', sans-serif;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    margin-top: 25vh;
    color: #fff;
    text-transform: capitalize;
    @media only screen and (min-width: 768px) {
      margin-top: 40vh;
      padding: 0 18%;
    }

    @media only screen and (min-width: 1024px) {
      margin-top: 32vh;
    }

    .heading {
      font-size: 32px;
      font-weight: 500;
      line-height: 90%;
      font-weight: bold;
      line-height: 39px;
      margin-bottom: .5rem;
    }
    .sub-heading {
      font-size: 1rem;
    }
    .down-arrow {
      display: flex;
      width: 5%;
      margin: 0 auto;
      margin-top: 43%;
      @media only screen and (min-width: 360px) {
        margin-top: 70%;
      }
      img {
        align-self: flex-end;
      }
      
    }
    @media only screen and (min-width: 1024px) {
      .heading {
        line-height: 77px;
        font-size: 64px;
        line-height: 77px;
      }
      .sub-heading {
        height: 29px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */

        color: #e8e8e8;
      }
    }
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
      1px 1px 1px rgba(0, 0, 0, 0.5);
  }
}
