<div class="wrapper" [style.background-color]="contentService.getColor(bgColor)" [style.color]="contentService.getColor(textColor)">
    <section id="header" *ngIf="heading">
        <div class="heading text-center pb-5">
            <p>{{ heading }}</p>
            <div class="sub-heading">
                <p>{{ subHeading }}</p>
            </div>
        </div>
    </section>
    <div class="container">
        <table class="table" [style.color]="contentService.getColor(textColor)" class="table" *ngIf="data">
            <thead>
              <tr>
                <th *ngFor="let header of data.heading" scope="col">{{ header }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of data.row">
                <td>{{ row.service }}</td>
                <td *ngIf="row.isTraditionalAgent">&#10003;</td>
                <td *ngIf="!row.isTraditionalAgent">--</td>
                <td *ngIf="row.isThreeHundrednineFive">&#10003;</td>
                <td *ngIf="!row.isThreeHundrednineFive">--</td>
                <td *ngIf="row.isOneThousandTwoHundresNineFive">&#10003;</td>
                <td *ngIf="!row.isOneThousandTwoHundresNineFive">--</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
