.heading {
    font-size: 3rem;
    .sub-heading {
        font-size: 1.7rem;
        font-weight: 300;
    }
}
table {    
    th {
        font-size: 1.5rem !important;
      
    }
    tr {
        border: solid .02rem #fff !important;
    }
    td { 
        font-size: 1.2rem;
        font-weight: 300;
    }
}