<section class="section-1">
    <div class="hero-container">
        <div class="hero-text-container">
            <div class="hero-text">
                <p class="large-text-white anim-right">1% LISTING FEE…</p>
                <p class="regular-text-white anim-left" style="margin-top: 10px;">FULL SERVICE, at a fair price!</p>
            </div>
        </div>
    </div>
</section>

<section class="section-2">
    <div class="section-2-wrapper">
        <div class="info-container">
            <div class="image-box">
                <img src="assets/images/sell_person_pointing_3.png" alt="image of person" style="width: 100%;">
            </div>
            <div class="text-box">
                <p class="large-text-blue">What do <br> you get?</p>
                <p class="regular-text-blue" style="margin-top: 15px; color: #3A679A; line-height: 2;">
                    • 1% Listing Fee <br> • techAGENT <br> • Pricing Support <br> • Property listed on Realtor.com, Zillow, etc. <br> • Advertising/Media Marketing Experts <br> • A Dedicated TEAM! <br> • And much more..
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section-3">
    <div class="section-3-wrapper">
        <div class="info-container-reverse">
            <div class="text-box">
                <p class="large-text-blue">What's your <br> responsibility?</p>
                <p class="regular-text-blue" style="margin-top: 15px; color: #3A679A; line-height: 2;">
                    • Declutter your home. <br> • Keep your house showcase ready. <br> • Improve the curb appeal of your property <br> • Set competitive price to get your home SOLD. <br> • Expect great service from DOSS!
                </p>
            </div>
            <div class="image-box">
                <img src="assets/images/sell_person_pointing_2.png" alt="image of person" style="width: 100%;">
            </div>
        </div>
    </div>
</section>

<section class="section-4">
    <div class="section-4-wrapper">
        <div class="doss-container">
            <div class="section-header">
                <p class="large-text-blue" style="text-align: center;">BUYERS can TOUR your HOME 24/7</p>
                <p class="regular-text-blue" style="text-align: center; margin-top: 15px;">With the tip of their finger, thousands of BUYERS can tour your home anytime.</p>
            </div>

            <div class="icon-container">
                <div class="icon">
                    <img src="assets/images/3d_tour.svg" alt="icon" style="margin: 10px">
                    <p class="regular-text-blue" style="font-weight: 600; text-align: center;">3D Virtual <br>Tour</p>
                </div>

                <div class="icon">
                    <img src="assets/images/digital_marketing.svg" alt="icon" style="margin: 10px">
                    <p class="regular-text-blue" style="font-weight: 600; text-align: center;">Digital <br>Marketing</p>
                </div>

                <div class="icon">
                    <img src="assets/images/photograph.svg" alt="icon" style="margin: 10px">
                    <p class="regular-text-blue" style="font-weight: 600; text-align: center;">Professional <br>Photograph</p>
                </div>

                <div class="icon">
                    <img src="assets/images/booklet.svg" alt="icon" style="margin: 10px">
                    <p class="regular-text-blue" style="font-weight: 600; text-align: center;">Property <br>Booklets</p>
                </div>
            </div>

            <div class="test-laptop">
                <a [href]="matterportLink" target="_blank"><img src="assets/images/laptop-01-01.png" alt=""></a>
            </div>

            <div class="matterport-showcase">
                <iframe width='853' height='480' [src]="matterportLink" frameborder=0 allowfullscreen allow='xr-spatial-tracking'></iframe>
            </div>
        </div>
    </div>
</section>

<section class="section-5">
    <div class="section-5-wrapper">
        <div class="doss-container">
            <div class="section-header">
                <p class="large-text-blue" style="text-align: center;">MARKETING & SUPPORT PLAN</p>
                <p class="regular-text-blue" style="text-align: center; margin-top: 15px;">The BEST value in the real estate industry!</p>
            </div>
            <div class="list-wrapper">
                <div class="list-container">
                    <div class="list">
                        <div class="item">
                            <img src="assets/images/check.svg" alt="check mark">
                            <p class="regular-text-blue" style="margin-left: 10px;">Open Houses</p>
                        </div>
                        <div class="item">
                            <img src="assets/images/check.svg" alt="check mark">
                            <p class="regular-text-blue" style="margin-left: 10px;">Supra Lockbox</p>
                        </div>
                        <div class="item">
                            <img src="assets/images/check.svg" alt="check mark">
                            <p class="regular-text-blue" style="margin-left: 10px;">Pricing Support</p>
                        </div>
                        <div class="item">
                            <img src="assets/images/check.svg" alt="check mark">
                            <p class="regular-text-blue" style="margin-left: 10px;">Concierge Services</p>
                        </div>
                        <div class="item">
                            <img src="assets/images/check.svg" alt="check mark">
                            <p class="regular-text-blue" style="margin-left: 10px;">Professional Pictures</p>
                        </div>
                        <div class="item">
                            <img src="assets/images/check.svg" alt="check mark">
                            <p class="regular-text-blue" style="margin-left: 10px;">Matterport 3D Tour</p>
                        </div>
                        <div class="item">
                            <img src="assets/images/check.svg" alt="check mark">
                            <p class="regular-text-blue" style="margin-left: 10px;">Attend all Inspections</p>
                        </div>
                        <div class="item">
                            <img src="assets/images/check.svg" alt="check mark">
                            <p class="regular-text-blue" style="margin-left: 10px;">Effective Communication</p>
                        </div>
                        <div class="item">
                            <img src="assets/images/check.svg" alt="check mark">
                            <p class="regular-text-blue" style="margin-left: 10px;">Property Prep. Consulting</p>
                        </div>
                    </div>
                    <div class="list">
                        <div class="item">
                            <img src="assets/images/check.svg" alt="check mark">
                            <p class="regular-text-blue" style="margin-left: 10px;">Staff Real Estate Attorney</p>
                        </div>
                        <div class="item">
                            <img src="assets/images/check.svg" alt="check mark">
                            <p class="regular-text-blue" style="margin-left: 10px;">Professional/Smart Signage</p>
                        </div>
                        <div class="item">
                            <img src="assets/images/check.svg" alt="check mark">
                            <p class="regular-text-blue" style="margin-left: 10px;">Automated & Systematic Process</p>
                        </div>
                        <div class="item">
                            <img src="assets/images/check.svg" alt="check mark">
                            <p class="regular-text-blue" style="margin-left: 10px;">Call Management/Scheduled Tours</p>
                        </div>
                        <div class="item">
                            <img src="assets/images/check.svg" alt="check mark">
                            <p class="regular-text-blue" style="margin-left: 10px;">50 Professional Property Booklets</p>
                        </div>
                        <div class="item">
                            <img src="assets/images/check.svg" alt="check mark">
                            <p class="regular-text-blue" style="margin-left: 10px;">Social Media Digital Marketing Flyers</p>
                        </div>
                        <div class="item">
                            <img src="assets/images/check.svg" alt="check mark">
                            <p class="regular-text-blue" style="margin-left: 10px;">Contract Negotiation/Contract Support</p>
                        </div>
                        <div class="item">
                            <img src="assets/images/check.svg" alt="check mark">
                            <p class="regular-text-blue" style="margin-left: 10px;">Assist w/Buying New Property(if App)</p>
                        </div>
                        <div class="item">
                            <img src="assets/images/check.svg" alt="check mark">
                            <p class="regular-text-blue" style="margin-left: 10px;">Listing placed on MLS, Realtor.com</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-6">
    <div class="section-6-wrapper">
        <div class="info-container">
            <div class="image-box">
                <img src="assets/images/sell_full_service_techAGENTS.png" alt="image of Doss Agent" style="width: 100%;">
            </div>
            <div class="text-box" style="margin: 40px 0;">
                <p class="large-text-blue">HIRE A TECH <br>COMPANY!</p>
                <p class="regular-text-blue" style="margin-top: 10px; color: #3A679A;">
                    DOSS leverages the best technology to make homeownership more affordable. All of our techAGENTS follow the <span style="font-weight: 600;">GO-GIVER LAWS of STRATOSPHERIC SUCCESS.</span> <br><br> The first law is, THE LAW
                    OF VALUE: <span class="text-orange">“Your true worth is how much more you give in value than you take in payment.”</span> <br><br> These LAWS govern and represent the culture of our company and the services we provide.
                </p>
            </div>

        </div>
    </div>
</section>
<app-full-service-form></app-full-service-form>
