<section class="section-1">
    <div class="hero-container">
      <div class="hero-text-container">
        <div class="hero-text">
          <p class="large-text-white">FULL SERVICE, <br> AT A FAIR PRICE</p>
          <p class="regular-text-white" style="margin-top: 10px;">Data Driven Service. Superior Marketing. Flat Fee.</p>
        </div>
      </div>
    </div>
</section>

<section class="section-2">
    <div class="section-2-wrapper">
      <div class="info-container">
        <div class="image-box">
          <img src="assets/images/sell_person_pointing_3.png" alt="image of person" style="width: 100%;">
        </div>
        <div class="text-box">
            <p class="large-text-blue">What do <br> you get?</p>
            <p class="regular-text-blue" style="margin-top: 15px; color: #3A679A; line-height: 2;">
                • Flat Fee <br>
                • TECH Agent™ <br>
                • Pricing Support <br>
                • Property listed on Realtor.com, Zillow, etc. <br>
                • Advertising/Media Marketing Experts <br>
                • A Dedicated TEAM! <br>
                • And much more..
            </p>
        </div>
        
      </div>
    </div>
</section>

<section class="section-3">
    <div class="section-3-wrapper">
      <div class="info-container-reverse">
        <div class="text-box">
            <p class="large-text-blue">What's your <br> responsibility?</p>
            <p class="regular-text-blue" style="margin-top: 15px; color: #3A679A; line-height: 2;">
                • Declutter your home. <br>
                • Keep your house showcase ready. <br>
                • Imporve the curb appeak of your property <br>
                • Set competitive price to get your home SOLD. <br>
                • Expect great service from DOSS!
            </p>
        </div>
        <div class="image-box">
          <img src="assets/images/sell_person_pointing_2.png" alt="image of person" style="width: 100%;">
        </div>        
      </div>
    </div>
</section>

<section class="section-4">
    <div class="section-4-wrapper">
      <div class="doss-container">
        <div class="section-header">
          <p class="large-text-blue" style="text-align: center;">BUYERS can TOUR your HOME 24/7</p>
          <p class="regular-text-blue" style="text-align: center; margin-top: 15px;">With the tip of their finger, thousands of BUYERS can tour your home anytime.</p>
        </div>
  
        <div class="icon-container">
          <div class="icon">
            <img src="assets/images/3d_tour.svg" alt="icon" style="margin: 10px">
            <p class="regular-text-blue" style="font-weight: 600; text-align: center;">3D Virtual <br>Tour</p>
          </div>
  
          <div class="icon">
            <img src="assets/images/digital_marketing.svg" alt="icon" style="margin: 10px">
            <p class="regular-text-blue" style="font-weight: 600; text-align: center;">Digital <br>Marketing</p>
          </div>
  
          <div class="icon">
            <img src="assets/images/photograph.svg" alt="icon" style="margin: 10px">
            <p class="regular-text-blue" style="font-weight: 600; text-align: center;">Professional <br>Photograph</p>
          </div>
  
          <div class="icon">
            <img src="assets/images/booklet.svg" alt="icon" style="margin: 10px">
            <p class="regular-text-blue" style="font-weight: 600; text-align: center;">Property <br>Booklets</p>
          </div>
        </div>
  
        <div class="matterport-showcase">
          <iframe width='853' height='480' src='https://my.matterport.com/show/?m=LG4S9MWrRft' frameborder=0 allowfullscreen allow='xr-spatial-tracking'></iframe>
         </div>
      </div>
    </div>
</section>

<section class="section-5">
    <div class="section-5-wrapper">
      <div class="info-container">
        <div class="image-box">
          <img src="assets/images/home_oval_agent.png" alt="image of Doss Agent" style="width: 100%;">
        </div>
        <div class="text-box">
          <p class="large-text-blue">HIRE A TECH <br>COMAPANY!</p>
          <p class="regular-text-blue" style="margin-top: 10px; color: #3A679A;">
            DOSS leverages the best technology to make homeownership in America more affordable. All of our TECH Agents follow the <span style="font-weight: 600;">GO-GIVER LAWS of STRATOSPHERIC SUCCESS.</span> <br><br>

            The first law is, THE LAW OF VALUE: <span style="color: #EF6C40;">“Your true worth is how much more you give in value than you take in payment.”</span>  <br><br>
            
            These LAWS govern and represent the culture of our company and the services we provide. 
        </p>
        </div>
        
      </div>
    </div>
</section>

<section class="section-7">
    <div class="section-5-wrapper">
        <div class="doss-container">
            <div class="section-header">
              <p class="large-text-blue">Let's get you<br>started</p>
            </div>

            <div class="section-5-form">
                <form action="#">
                    <div class="form-input-group">
                      <div class="form-input">
                          <label for=""><p class="regular-text-blue">Seller Name</p></label>
                          <input type="text">
                      </div>

                      <div class="form-input">
                        <label for=""><p class="regular-text-blue">Co-Seller Name(If Applicable)</p></label>
                        <input type="text">
                      </div>

                      <div class="form-input">
                        <label for=""><p class="regular-text-blue">Seller Email</p></label>
                        <input type="text">
                      </div>

                      <div class="form-input">
                        <label for=""><p class="regular-text-blue">Co-Seller Email(If Applicable)</p></label>
                        <input type="text">
                      </div>

                      <div class="form-input">
                          <label for=""><p class="regular-text-blue">Buyer Phone Number</p></label>
                          <input type="text">
                      </div>

                      <div class="form-input">
                          <label for=""><p class="regular-text-blue">Co-Buyer Phone Number(If Applicable)</p></label>
                          <input type="text">
                      </div>

                      <div class="form-input">
                        <label for=""><p class="regular-text-blue">Property Address</p></label>
                        <input type="text">
                      </div>

                    </div>

                    <div class="radio-input-group">
                    <p class="regular-text-blue" style="margin-bottom: 10px;">When are you looking to sell?</p>
                    <div class="radio-input-selections">
                        <div class="radio-input">
                          <input type="radio" id="now" name='when-buy' class="regular-radio">
                          <label for="now" ><p class="regular-text-blue">Now</p></label>
                        </div>

                        <div class="radio-input">
                            <input type="radio" id="3mon" name='when-buy' class="regular-radio">
                            <label for="3mon" ><p class="regular-text-blue">0-3 months</p></label>
                          </div>

                          <div class="radio-input">
                            <input type="radio" id="6mon" name='when-buy' class="regular-radio">
                            <label for="6mon" ><p class="regular-text-blue">3-6 months</p></label>
                          </div>

                          <div class="radio-input">
                            <input type="radio" id="12mon" name='when-buy' class="regular-radio">
                            <label for="12mon" ><p class="regular-text-blue">6-12 months</p></label>
                          </div>

                    </div>
                    </div>
                    
                    <div class="form-input-group">
                        <div class="form-input">
                          <label for=""><p class="regular-text-blue">What price do you have in mind?</p></label>
                          <input type="text">
                        </div>
                    </div>

                    <div class="form-input-group">
                        <div class="form-input">
                          <label for=""><p class="regular-text-blue">If so please attach Pre-Approved Letter</p></label>
                          <input type="text">
                        </div>  
                        
                        <div class="form-input">
                            <label for=""><p class="regular-text-blue">Best day and time to call you?</p></label>
                            <input type="text">
                        </div> 
                    </div>

                    <div class="form-input-group">
                      <label for="description"><p class="regular-text-blue">Describe your dream home and preferred location</p></label>
                      <textarea name="describe" id="description" ></textarea>
                    </div>

                    <input type="submit" value="Send">
                      
                </form>
            </div>
        </div>
    </div>
</section>