<section class="section-1">
    <div class="hero-container">
        <div class="hero-text-container">
            <div class="hero-text">
                <p class="large-text-white">Find a house, <br>Make it your home</p>
                <p class="regular-text-white" style="margin-top: 10px;">Together, lets find a place to create beautiful
                    memories!</p>
            </div>
        </div>
    </div>
</section>

<section class="section-2">
    <div class="section-2-wrapper">
        <div class="info-container">
            <div class="image-box">
                <img src="../../../assets/home/section_5/oval_agent.png" alt="image of Doss Agent" style="width: 100%;">
            </div>
            <div class="text-box">
                <p class="large-text-blue">HIRE A TECH <br>COMAPANY!</p>
                <p class="regular-text-blue" style="margin-top: 10px; color: #3A679A;">
                    All REALTORS® are not created equal! Choosing
                    the right Agent the first time could save you a
                    lot of frustration, time and money... We have
                    TECH Agents who are trained Market Area
                    Experts that specifically work with Buyers. You
                    get an experienced and company trained Buyers
                    Agent Specialist to help you avoid the pitfalls of
                    buying a home and get up to $5,000* to reduce
                    your closing cost </p>
            </div>

        </div>
    </div>
</section>

<section class="section-3">
    <div class="section-3-wrapper">
        <div class="section-3-container">
            <div class="section-3-text">
                <p class="regular-text-white" style="margin-bottom: 10px;">
                    Making Homeownership more affordable
                </p>
                <p class="large-text-white">Get a buyer rebate up to $5000*</p>
                <p class="footnote" style="color: #ffb39a; line-height: 2; background: #EF6C40; padding-top: 20px;">
                    *Buyer Rebate is subject to lender approval and buyer agent commission.
                </p>

            </div>
        </div>

    </div>
</section>

<section class="section-4">
    <div class="section-4-wrapper">
        <div class="doss-container">
            <div class="section-header">
                <p class="large-text-blue">
                    TRADITIONAL Agent <br>
                    vs <br>
                    DOSS TECH Agent™</p>
            </div>

            <div class="doss-table">
                <div class="table-list-container">
                    <div class="table-header">
                        <div class="table-section-1">
                            <p class="regular-text-blue table-left-padding" style="font-weight: 600; ">Services</p>
                        </div>
                        <div class="table-section-2">
                            <div class="folder">
                                <p class="regular-text-blue" style="font-weight: 600;">Traditional Agent</p>
                            </div>
                            <div class="folder">
                                <p class="regular-text-blue" style="font-weight: 600;">TECH Agent™</p>
                            </div>
                        </div>
                    </div>

                    <div class="table-list">
                        <div class="table-section-1">
                            <p class="regular-text-blue table-left-padding">Do a BUYER Consultation</p>
                        </div>
                        <div class="table-section-2">
                            <div class="check">

                            </div>
                            <div class="check">
                                <img src="../../../assets/buyer/check.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="table-list">
                        <div class="table-section-1">
                            <p class="regular-text-blue table-left-padding">Help BUYER get Pre-Approved</p>
                        </div>
                        <div class="table-section-2">
                            <div class="check">
                                <img src="../../../assets/buyer/check.svg" alt="">
                            </div>
                            <div class="check">
                                <img src="../../../assets/buyer/check.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="table-list">
                        <div class="table-section-1">
                            <p class="regular-text-blue table-left-padding">Help BUYER find perfect home</p>
                        </div>
                        <div class="table-section-2">
                            <div class="check">
                                <img src="../../../assets/buyer/check.svg" alt="">
                            </div>
                            <div class="check">
                                <img src="../../../assets/buyer/check.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="table-list">
                        <div class="table-section-1">
                            <p class="regular-text-blue table-left-padding">Same Day Home-Tours*</p>
                        </div>
                        <div class="table-section-2">
                            <div class="check">

                            </div>
                            <div class="check">
                                <img src="../../../assets/buyer/check.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="table-list">
                        <div class="table-section-1">
                            <p class="regular-text-blue table-left-padding">Contract Support/Digital Signatures</p>
                        </div>
                        <div class="table-section-2">
                            <div class="check">
                                <img src="../../../assets/buyer/check.svg" alt="">
                            </div>
                            <div class="check">
                                <img src="../../../assets/buyer/check.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="table-list">
                        <div class="table-section-1">
                            <p class="regular-text-blue table-left-padding">Negotiation Expert</p>
                        </div>
                        <div class="table-section-2">
                            <div class="check">

                            </div>
                            <div class="check">
                                <img src="../../../assets/buyer/check.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="table-list">
                        <div class="table-section-1">
                            <p class="regular-text-blue table-left-padding">Attend Home Inspections</p>
                        </div>
                        <div class="table-section-2">
                            <div class="check">
                                <img src="../../../assets/buyer/check.svg" alt="">
                            </div>
                            <div class="check">
                                <img src="../../../assets/buyer/check.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="table-list">
                        <div class="table-section-1">
                            <p class="regular-text-blue table-left-padding">Has a TEAM to support BUYER</p>
                        </div>
                        <div class="table-section-2">
                            <div class="check">

                            </div>
                            <div class="check">
                                <img src="../../../assets/buyer/check.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="table-list">
                        <div class="table-section-1">
                            <p class="regular-text-blue table-left-padding">Buyer Rebate up to $5000*</p>
                        </div>
                        <div class="table-section-2">
                            <div class="check">

                            </div>
                            <div class="check">
                                <img src="../../../assets/buyer/check.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="table-list">
                        <div class="table-section-1">
                            <p class="regular-text-blue table-left-padding">Staff Real Estate Attorney</p>
                        </div>
                        <div class="table-section-2">
                            <div class="check">

                            </div>
                            <div class="check">
                                <img src="../../../assets/buyer/check.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="table-list">
                        <div class="table-section-1">
                            <p class="regular-text-blue table-left-padding">Concierge Services</p>
                        </div>
                        <div class="table-section-2">
                            <div class="check">

                            </div>
                            <div class="check">
                                <img src="../../../assets/buyer/check.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="table-list-last">
                        <div class="table-section-1">
                            <p class="regular-text-blue table-left-padding">Attend Closing</p>
                        </div>
                        <div class="table-section-2">
                            <div class="check">
                                <img src="../../../assets/buyer/check.svg" alt="">
                            </div>
                            <div class="check">
                                <img src="../../../assets/buyer/check.svg" alt="">
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="footnote-container">
                <p class="footnote" style="color: #9E9E9E; line-height: 2;">
                    *Buyer Rebate is subject to lender approval and buyer agent commission. <br>
                    *Home-Tours requested before 3pm are scheduled for the same day.
                    <br>
                    *TECH Agents can help setup Cable/Internet, Security, Utilities, etc.
                    <br>
                    *The buyer rebate is 1% of the sale of the property up to $5,000.
                </p>
            </div>
        </div>
    </div>
</section>

<app-buyer-consultation></app-buyer-consultation>