<section id="hero-section">
  <app-hero [heading]="heading" [text]="subHeading" [backgroundImage]="'buyer_banner.png'"></app-hero>
</section>
<div class="wrapper">
  <section id="tech-company">
    <app-right-align [textColor]="'blue'">
      <div heading>
        <p>Hire a TECH Company!</p>
      </div>
      <div pic>
        <img src="assets/images/tech_agent.png" />
      </div>
      <div text>
        <p>
          All REALTORS® are not created equal! Choosing the right Agent the
          first time could save you a lot of frustration, time and money... We
          have TECH Agents who are trained Market Area Experts that specifically
          work with Buyers. You get an experienced and company trained Buyers
          Agent Specialist to help you avoid the pitfalls of buying a home and
          get up to $5,000* to reduce your closing cost
        </p>
      </div>
    </app-right-align>
    <div class="disclaimer text-center">
      <p>{{ disclaimerText1 }}</p>
    </div>
  </section>
  <section id="rebate">
    <app-movement [heading]="'Get a Buyer Rebate up to $5,000*'" [caption]="disclaimerText1"
      [subHeading]="'Making homeownership more affordable…'"></app-movement>
  </section>
  <section id="compare-table">
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Service Offering</th>
            <th scope="col">Traditional Agent</th>
            <th scope="col">TECH Agent™</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Do a BUYER Consultation</td>
            <td>--</td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <td>Help BUYER get Pre-Approved(If Applicable)</td>
            <td>&#10003;</td>
            <td>--</td>
          </tr>
          <tr>
            <td>Help BUYER find the perfect home</td>

            <td>&#10003;</td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <td>Help BUYER find the perfect home</td>

            <td>&#10003;</td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <td>Help BUYER find the perfect home</td>

            <td>&#10003;</td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <td>Help BUYER find the perfect home</td>

            <td>&#10003;</td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <td>Help BUYER find the perfect home</td>

            <td>&#10003;</td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <td>Help BUYER find the perfect home</td>

            <td>&#10003;</td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <td>Help BUYER find the perfect home</td>

            <td>&#10003;</td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <td>Help BUYER find the perfect home</td>

            <td>&#10003;</td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <td>Help BUYER find the perfect home</td>

            <td>&#10003;</td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <td>Help BUYER find the perfect home</td>

            <td>&#10003;</td>
            <td>&#10003;</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="disclaimer text-center">
      <p>{{ disclaimerText1 }}</p>
      <p>{{ disclaimerText2 }}</p>
      <p>{{ disclaimerText3 }}</p>
    </div>
  </section>
  <section id="consultation">
    <app-buyer-consultation></app-buyer-consultation>
  </section>
  <section id="call-us">
    <app-contact-number></app-contact-number>
  </section>
</div>