.footer-wrapper {
    background: #F8F9FB;

    display: flex;
    justify-content: center;
}

.doss-footer-container {
    width: 80vw;
    min-height: 70vh;
    max-width: 1170px;
}
.text-container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 150px 0;
}

hr {
    border: 1.5px solid #D6E0EB;
}

.footer-container {
    margin: 50px 0;

    display: flex;
    justify-content: space-between;
}
.logos {
    width: 10%;
}
.social-logo {
    display: flex;
    justify-content: space-between;
}

.info {
    width: 80%;

    display: flex;
    justify-content: space-between;
}

.footer-links .small-text-blue:hover {
    color: #3075c4;
}

@media only screen and (max-width: 1200px) {
    .footer-container {
        flex-direction: column;
        justify-content: center;
        margin: 50px 0 30px 0;
    }

    .logos {
        width: 100px;
        margin-bottom: 50px;
    }

    .info {
        flex-direction: column;
    }
    .footer-links {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 767px) {
    .footer-container {
        width: 90vw;
        margin: 50px 0 30px 0;
    }
    .text-container {
        width: 80vw;
        margin: 0 auto;
    }
    hr {
        width: 60vw;
    }
}

