<footer>
    <div class="footer-wrapper">
        <div class="doss-footer-container">
            <section class="section-1">
                <div class="text-container">
                    <div class="text">
                        <p class="regular-text-blue">Have questions?</p>
                        <p class="large-text-blue">Call us at 1-877-770-3677</p>
                    </div>
                </div>
            </section>
            
            <hr>
            
            <section class="section-2">
                <div class="footer-container">
                    <div class="logos">
                        <div class="doss-logo">
                            <img src="../../../assets/home/section_9/logo.svg" alt="logo of Doss" width="110px" style="margin-bottom: 30px;">
                        </div>
                        <div class="social-logo">
                            <a href="https://www.facebook.com/askdoss" target="_blank"><img src="../../../assets/home/section_9/facebook.png" alt="logo of facebook" width="25px" ></a>

                            <a href="https://twitter.com/askdossnow" target="_blank"><img src="../../../assets/home/section_9/twitter.png" alt="logo of facebook" width="25px"></a>

                            <a href="https://www.linkedin.com/company/ask-doss2020/" target="_blank"><img src="../../../assets/home/section_9/linkdin.png" alt="logo of facebook" width="25px"></a>
                        </div>
                    </div>
                    <div class="info">
                        <div class="footer-links">
                            <p class="regular-text-blue" target="_blank" style="font-weight: 600;margin-bottom: 10px;">DOSS Brands</p>
                            <a href="" target="_blank" style="text-decoration: none;"><p class="small-text-blue" style="margin-bottom: 10px;">www.shopdoss.com</p></a>

                            <a href="" target="_blank" style="text-decoration: none;"><p class="small-text-blue" style="margin-bottom: 10px;">www.socialagents.com</p></a>

                            <a href="" target="_blank" style="text-decoration: none;"><p class="small-text-blue" style="margin-bottom: 10px;">www.dosshomeloans.com</p></a>

                            <a href="" target="_blank" style="text-decoration: none;"><p class="small-text-blue" style="margin-bottom: 10px;">www.dosshomewarranty.com</p></a>
                        </div>

                        <div class="footer-links">
                            <p class="regular-text-blue" style="font-weight: 600;margin-bottom: 10px;">Learn more</p>
                            <a href="" target="_blank" style="text-decoration: none;"><p class="small-text-blue" style="margin-bottom: 10px;">Buy</p></a>

                            <a href="" target="_blank" style="text-decoration: none;"><p class="small-text-blue" style="margin-bottom: 10px;">Sell</p></a>

                            <a href="" target="_blank" style="text-decoration: none;"><p class="small-text-blue" style="margin-bottom: 10px;">Rent</p></a>

                            <a href="" target="_blank" style="text-decoration: none;"><p class="small-text-blue" style="margin-bottom: 10px;">About us</p></a>

                            <a href="" target="_blank" style="text-decoration: none;"><p class="small-text-blue" style="margin-bottom: 10px;">Franchise</p></a>
                        </div>

                        <div class="footer-links">
                            <p class="regular-text-blue" style="font-weight: 600;margin-bottom: 10px;">Legal</p>
                            <a href="" target="_blank" style="text-decoration: none;"><p class="small-text-blue" style="margin-bottom: 10px;">Terms</p></a>

                            <a href="" target="_blank" style="text-decoration: none;"><p class="small-text-blue" style="margin-bottom: 10px;">Privacy Policy</p></a>

                            <a href="" target="_blank" style="text-decoration: none;"><p class="small-text-blue" style="margin-bottom: 10px;">TREC: Consumer Protection</p></a>

                            <a href="" target="_blank" style="text-decoration: none;"><p class="small-text-blue" style="margin-bottom: 10px;">TREC: Information About Brokerage Service</p></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
    
</footer>
