<div class="wrapper">
    <section id="footer" class="footer  container">
        <div class="logo">
            <img src="assets/images/logo.png" alt="">
            <div class="social-platforms">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
        </div>
        <div class="learn-more">
            <div class="heading">learn more</div>
            <div class="links" *ngFor=" let link of learnMoreLinks">
                <span  class="p-2 span-link" routerLink="{{link.path}}">{{link.title}}</span>
            </div>
        </div>
        <div class="legal">
            <div class="heading">Legal</div>
            <div class="links" *ngFor=" let link of legalLinks">
                <a  class="p-2 span-link" href="{{link.path}}" target="_blank">{{link.title}}</a>
            </div>
        </div>
        <div class="doss-brand">
            <div class="heading">doss brand</div>
            <div class="links" *ngFor=" let link of brandLinks">
                <link  class="p-2 span-link" href="{{link.path}}">{{link.title}}
            </div>
        </div>
    </section>
</div>