<div class="form-wrapper">
    <p class="heading text-center">Lets get you started!</p>
    <div class="container form-container">
        <form [formGroup]="fullServiceForm" (ngSubmit)="submitForm(fullServiceForm)" novalidate="">
            <div class="mb-4">
                <label for="sellerName">Seller</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="text" class="form-control" id="sellerName" placeholder="Seller Name" name="sellerName"
                        formControlName="sellerName" required />
                </div>
                <div class="text-center" *ngIf="fsf.sellerName.touched && fsf.sellerName.errors?.required">
                    <div class="text-danger py-1">Seller name is required.</div>
                </div>
            </div>
            <div class="mb-4">
                <label for="coSellerName">Co-Seller <span class="text-muted">(If Applicable)</span>
                </label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="text" class="form-control" id="coSellerName" placeholder="Co-Seller Name"
                        name="coSellerName" formControlName="coSellerName" />
                </div>
            </div>
            <div class="mb-4">
                <label for="sellerEmail">Seller Email</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="email" class="form-control" id="sellerEmail" placeholder="you@example.com" name="email"
                        formControlName="sellerEmail" required />
                </div>
                <div class="text-center" *ngIf="fsf.sellerEmail.touched && fsf.sellerEmail.errors?.required">
                    <div class="text-danger py-1">Seller email is required.</div>
                </div>
                <div class="text-center" *ngIf="fsf.sellerEmail.dirty">
                    <div class="text-danger py-1" *ngIf="fsf.sellerEmail.invalid">
                        Please enter a valid email address
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <label for="coSellerEmail">Co-Seller Email
                    <span class="text-muted">(If Applicable)</span></label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="email" class="form-control" id="coSellerEmail" placeholder="you@example.com"
                        name="coSellerEmail" formControlName="coSellerEmail" />
                </div>
            </div>
            <div class="mb-4">
                <label for="sellerPhoneNumber">Seller Phone Number</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="number" class="form-control" id="sellerPhoneNumber" placeholder="713-555-5555"
                        name="sellerPhoneNumber" formControlName="sellerPhoneNumber" required />
                </div>
                <div class="text-center" *ngIf="fsf.sellerPhoneNumber.touched && fsf.sellerPhoneNumber.errors?.required">
                    <div class="text-danger py-1">Phone number is required.</div>
                </div>
            </div>
            <div class="mb-4">
                <label for="coSellerPhoneNumber">Co-Seller Phone Number
                    <span class="text-muted">(If Applicable)</span></label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="text" class="form-control" id="coSellerPhoneNumber" placeholder="713-555-5555"
                        name="coSellerPhoneNumber" formControlName="coSellerPhoneNumber" />
                </div>
            </div>
            <section id="address">
                <div class="address my-4">
                    <p>Property Address </p>
                    <textarea id="same-address" rows="4" cols="95%" name="address" formControlName="address"></textarea>
                </div>
            </section>
            <section id="lookingToSell" class="mb-4">
                <p>When are you looking to buy?</p>
                <div class="radio-delections my-3">
                    <div class="custom-control custom-radio">
                        <input id="now" name="lookingToSell" value="now" type="radio" class="custom-control-input"
                            formControlName="lookingToSell">
                        <label class="custom-control-label" for="now">Now</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="oneToThreeMonths" name="lookingToSell" value="0-3 Months" type="radio" class="custom-control-input"
                            formControlName="lookingToSell">
                        <label class="custom-control-label" for="oneToThreeMonths">0-3 Months</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="threeToSixMonths" name="lookingToSell" value="3-6 Months" type="radio" class="custom-control-input"
                            formControlName="lookingToSell">
                        <label class="custom-control-label" for="threeToSixMonths">3-6 Months</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="sixToTwelveMonths" name="lookingToSell" value="6-12 Months" type="radio" class="custom-control-input"
                            formControlName="lookingToSell">
                        <label class="custom-control-label" for="sixToTwelveMonths">6-12 Months</label>
                    </div>
                </div>
            </section>
            <div class="price-listing my-4">
                <label for="priceListing">What price did you have in mind?</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="text" class="form-control" id="priceListing" placeholder="" formControlName="priceListing"
                        required />
                </div>
                <div class="text-center" *ngIf="fsf.priceListing.touched && fsf.priceListing.errors?.required">
                    <div class="text-danger py-1">Price listing is required.</div>
                </div>
            </div>
            <div class="priceNumber mb-3">
                <p>How did you arrive at that number?</p>
                <input type="text" class="form-control" id="howArrivedAtPrice" placeholder="713-555-5555"
                name="howArrivedAtPrice" formControlName="howArrivedAtPrice" />
                <div class="text-center" *ngIf="fsf.howArrivedAtPrice.touched && fsf.howArrivedAtPrice.errors?.required">
                    <div class="text-danger py-1">Price description is required.</div>
                </div>
            </div>
            <div class="aboutHome mb-3">
                <p >Describe your Dream Home and preferred location?</p>
                <textarea id="aboutHome" rows="4" cols="95%" name="address" formControlName="aboutHome" required></textarea>
                <div class="text-center" *ngIf="fsf.aboutHome.touched && fsf.aboutHome.errors?.required">
                    <div class="text-danger py-1">Home description is required.</div>
                </div>
            </div>
            <div class="price-listing my-4">
                <label for="timeDateToContact">What is the best day and time to call you?</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="datetime-local" id="timeDateToContact" name="timeDateToContact" formControlName="timeDateToContact" required />
                </div>
                <div class="text-center" *ngIf="fsf.timeDateToContact.touched && fsf.timeDateToContact.errors?.required">
                    <div class="text-danger py-1">contact info is required.</div>
                </div>
            </div>
            <hr class="mb-4" />
            <div class="submit-btn">
                <button [disabled]="!fullServiceForm.valid" class="btn btn-primary btn-lg btn-block" type="submit">
                    Send
                </button>
            </div>
        </form>
    </div>
</div>