.wrapper {
    background-color: #F8F9FB;
    padding-bottom: 30px;
    .heading {
        padding: 5rem 1rem 1rem 1rem;
        font-size: 2.5rem;
        color: #174D89;
        font-weight: 700;
        text-align: center;
    }
    @media only screen and (min-width: 768px) {
        .heading {
            font-size: 4rem;
        }
    }
}