<!-- <div   class="wrapper"  >
    <div id="navbar"
    class="d-flex  flex-column flex-md-row align-items-center px-md-4 doss-nav"
  >
    <h5 class="my-0 mr-md-auto font-weight-normal span-link" routerLink="/">DOSS</h5>
    <nav class="my-2 my-md-0 mr-md-3" *ngFor="let link of links">
      <span class="p-2 span-link"  routerLink="{{link.path}}">{{ link.title }}</span>
    </nav>
  </div>
</div> -->

<div class="wrapper" [style.color]="contentService.getColor(textColor)">
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="logo" routerLink="/"
      ><img src="assets/images/logo.png" alt="logo"
    /></a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink="/buyer"
            id="buyer-dropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Buy</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/buyer-consultation"
              >Consultation</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/buyer-steps">Steps</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/buyer-faq">FAQ</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink="/seller"
            id="seller-dropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Sell</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/seller-consultation"
              >Consultation</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/seller-steps">Steps</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/seller-faq">Faq</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/seller-flat-rate"
              >Flat Rate</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/seller-full-service"
              >Full Service</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink="/rent"
            id="rent-dropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Rent</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/rent-consultation"
              >Consultation</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/rent-steps"
              >Steps</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/landlord"
              >Landlord</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/landlord-faq"
              >Landlord Faq</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink="/about"
            id="about-dropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >About</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/contact-us"
              >Contact us</a
            >
            <a class="dropdown-item" routerLink="/join-us"
              >join us</a
            >
            <a class="dropdown-item" routerLink="/five-laws"
              >five laws</a
            >
            <a class="dropdown-item" routerLink="/learn-doss"
              >learn about doss</a
            >
            <a class="dropdown-item" routerLink="/digital-ads"
              >digital ads</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink="/franchising"
            id="franchising-dropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Franchising</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/franchising-faq"
              >FAQ</a
            >
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
