.wrapper {
    background-attachment: #fff;
    text-transform: uppercase;
    .logo {
        width: 23%;
    }
    @media (min-width: 768px) {
        .logo {
            width: 5%;
        }
    }
    .navbar-nav {
        margin-right: 10%;
    }
   .doss-nav {
        padding: 2.5rem;
    }
    nav > span {
        font-size: 1.3rem;
        font-weight: 500;
        text-transform: uppercase;
    }
   a {
       font-weight: 500;
       color: #164f8c !important;
   }
   .dropdown-toggle::after {
       margin-left: .600em;
   }
}

.sticky {
    background-color: #fff;
    opacity: .8;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
  }