
<div class="doss-navbar">
    <div class="nav-container">
        <div class="logo">
            <img src="../../../assets/home/section_1/logo.svg" alt="image of logo">
        </div>
        <div class="menu">
            <div class="dropdown">
                <button class="dropdown-button">Buy</button>
                <div class="dropdown-content">
                    <a href="">Buy with DOSS</a>
                    <a href="">Consultation</a>
                    <a href="">Steps</a>
                    <a href="">Buy FAQ</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-button">Sell</button>
                <div class="dropdown-content">
                    <a href="">Sell with DOSS</a>
                    <a href="">Consultation</a>
                    <a href="">Steps</a>
                    <a href="">Flat Rate</a>
                    <a href="">Full Service</a>
                    <a href="">Sell FAQ</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-button">Rent</button>
                <div class="dropdown-content">
                    <a href="">Rent with DOSS</a>
                    <a href="">Consultation</a>
                    <a href="">Steps</a>
                    <a href="">Landlords</a>
                    <a href="">Landlords FAQ</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-button">About</button>
                <div class="dropdown-content">
                    <a href="">Our Story</a>
                    <a href="">Contact Us</a>
                    <a href="">Join Us</a>
                    <a href="">Five Laws</a>
                    <a href="">Learn about DOSS</a>
                    <a href="">Digital Ads</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-button">Franchise</button>
                <div class="dropdown-content">
                    <a href="">Franchising with DOSS</a>
                    <a href="">Franchise FAQ</a>
                </div>
            </div>
        </div>
    </div>
</div>




