
<div class="doss-navbar">
    <div class="nav-container">
        <div class="logo">
            <a routerLink='/'><img src="../../../assets/home/section_1/logo.svg" alt="image of logo"></a>
        </div>
        <div class="menu">
            <!-- BUY -->
            <div class="dropdown">
                <button class="dropdown-button">Buy</button>
                <div class="dropdown-content">
                    <a href="" routerLink='/buyer'>Buy with DOSS</a>
                    <a href="" routerLink="/buyer-consultation">Consultation</a>
                    <a href="" routerLink="/buyer-steps">Steps</a>
                    <a href="" routerLink="/buyer-faq">Buy FAQ</a>
                </div>
            </div>

            <!-- SELL -->
            <div class="dropdown">
                <button class="dropdown-button">Sell</button>
                <div class="dropdown-content">
                    <a href="" routerLink="/seller">Sell with DOSS</a>
                    <a href="" routerLink="/seller-consultation">Consultation</a>
                    <a href="" routerLink="/seller-steps">Steps</a>
                    <a href="" routerLink="/seller-flat-rate">Flat Rate</a>
                    <a href="" routerLink="/seller-full-service">Full Service</a>
                    <a href="" routerLink="/seller-faq">Sell FAQ</a>
                </div>
            </div>

            <!-- RENT -->
            <div class="dropdown">
                <button class="dropdown-button">Rent</button>
                <div class="dropdown-content">
                    <a href="" routerLink="/rent">Rent with DOSS</a>
                    <a href="" routerLink="/rent-consultation">Consultation</a>
                    <a href="" routerLink="/rent-steps">Steps</a>
                    <a href="" routerLink="/landlord">Landlords</a>
                    <a href="" routerLink="/landlord-faq">Landlords FAQ</a>
                </div>
            </div>

            <!-- ABOUT -->
            <div class="dropdown">
                <button class="dropdown-button">About</button>
                <div class="dropdown-content">
                    <a href="" routerLink="/about">Our Story</a>
                    <a href="" routerLink="/contact-us">Contact Us</a>
                    <a href="" routerLink="/join-us">Join Us</a>
                    <a href="" routerLink="/five-laws">Five Laws</a>
                    <a href="" routerLink="/learn-doss">Learn about DOSS</a>
                    <a href="" routerLink="/digital-ads">Digital Ads</a>
                </div>
            </div>

            <!-- FRANCHISE -->
            <div class="dropdown">
                <button class="dropdown-button">Franchise</button>
                <div class="dropdown-content">
                    <a href="" routerLink="/franchising">Franchising with DOSS</a>
                    <a href="" routerLink="/franchising-faq">Franchise FAQ</a>
                </div>
            </div>
        </div>
    </div>
</div>




