<section class="section-1">
    <div class="hero-container">
      <div class="hero-text-container">
        <div class="hero-text">
          <p class="large-text-white">YOU GET WHAT<br>YOU PAY FOR</p>
          <p class="regular-text-white" style="margin-top: 10px;">Total Control. Maximum Exposure. Save Thousands.</p>
        </div>
      </div>
    </div>
</section>

<section class="section-2">
    <div class="section-2-wrapper">
      <div class="info-container">
        <div class="image-box">
          <img src="assets/images/sell_person_pointing_4.png" alt="image of person" style="width: 100%;">
        </div>
        <div class="text-box">
            <p class="large-text-blue">What do <br> you get?</p>
            <p class="regular-text-blue" style="margin-top: 15px; color: #3A679A; line-height: 2;">
                • Flat Fee <br>
                • Local Agents <br>
                • Professional Yard Signage <br>
                • Property listed on Realtor.com, Zillow, etc. <br>
                • Manage Calls/Call Support
            </p>
        </div>
      </div>
    </div>
</section>

<section class="section-3">
    <div class="section-3-wrapper">
      <div class="info-container-reverse">
        <div class="text-box">
            <p class="large-text-blue">What's your <br> responsibility?</p>
            <p class="regular-text-blue" style="margin-top: 15px; color: #3A679A; line-height: 2;">
                • Set a price for your home <br>
                • Manage/Schedule Home Tours <br>
                • Take Pictures/Video <br>
                • Negotiate your own contract
            </p>
        </div>
        <div class="image-box">
          <img src="assets/images/sell_person_pointing_1.png" alt="image of person" style="width: 100%;">
        </div>        
      </div>
    </div>
</section>