<section id="header">
    <app-hero [heading]="heading" [text]="subHeading" [backgroundImage]="'limited_service.png'"></app-hero>
</section>
<div class="wrapper">
    <section id="what-you-get">
        <div class="wrapper container">
            <div class="services">
                <div class="service">
                    <img src="assets/images/limited_what_you_get.png" alt="" />
                    <p class="service-title">What do you get?</p>
                    <div class="text-center py-2">
                        <ul>
                            <li *ngFor="let what of whatYouGetList">{{ what }}</li>
                        </ul>
                    </div>
                </div>
                <div class="service">
                    <img src="assets/images/limited_responsibilities.png" alt="" />
                    <p class="service-title">What's your responsibility?</p>
                    <div class="text-center py-2">
                        <ul>
                            <li *ngFor="let responsibility of responsibilitiesList">{{ responsibility }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer text-muted">
                <div class="service-btn text-center">
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary"
                        routerLink="/seller-full-service">
                        START NOW!
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section id="marketing">
        <div class="container">
            <div class="header text-center">
                <p class="heading">Additional Marketing/Services to Purchase</p>
                <p class="sub-heading">Sellers can purchase additional services to help sell your property
                </p>
            </div>
            <div class="service-menu">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 5%;/* margin: 0 auto; */padding-left: 2rem;text-align: center;"></th>
                            <th *ngFor="let header of tableData.heading" scope="col">{{ header }}</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of tableData.row">
                            <td><input type="checkbox" [(ngModel)]="row.selected"/></td>
                            <td>{{ row.menu }}</td>
                            <td>{{ row.price | currency}}</td>
                        </tr>
                        <tr >
                            <td></td>
                            <td>Total</td>
                            <td>{{ getTotal(getSelectedMenu(tableRowData)) | currency}}</td>
                        </tr>
                        
                    </tbody>
                </table>
                <div class="checkout">
                    <button type="button"  class="btn btn-lg btn-checkout" [disabled]="getTotal(getSelectedMenu(tableRowData)) <= 0">Checkout</button>
                </div>
               
            </div>
        </div>
    </section>
    <section id="call-us">
        <app-contact-number></app-contact-number>
    </section>
</div>