
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  .payment-processing {
    margin-top: -5%;
    color: #174d89;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .payment-complete {
    color: #174d89;
    font-size: 1.5rem;
    font-weight: 700;
  }
}
.doss-button {
  margin-left: 10%;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:disabled {
    cursor: no-drop;
    background: #426d9e;
  }
}

.service {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


@media only screen and (min-width: 1169px) {
    .form-input {
        max-width: 50%;
        color: #31325F;
        color: #CFD7E0;;
    }
}
@media only screen and (max-width: 1169px) {
    .doss-button {
        width: 100%;
    }
}
