<section class="consultation-form">
  <div class="wrapper">
    <div class="doss-container">
      <div class="section-header">
        <p class="large-text-blue">Contact Us</p>
      </div>

      <div class="section-1-form">
        <form [formGroup]="contactUsForm" (ngSubmit)="submitForm(contactUsForm)">
          <div class="form-input-group">
            <div class="form-input">
              <label for="firstName">
                <p class="regular-text-blue">First Name <span class="required">*</span></p>
              </label>
              <input type="text" class="form-control" name="firstName" formControlName="firstName" id="firstName"
                required />
              <div *ngIf="cf.firstName.touched && cf.firstName.errors?.required">
                <div class="text-danger py-1">First name is required.</div>
              </div>
            </div>

            <div class="form-input">
              <label for="lastName">
                <p class="regular-text-blue">Last Name <span class="required">*</span></p>
              </label>
              <input type="text" name="lastName" formControlName="lastName" id="lastName" class="form-control"
                required />
                <div *ngIf="cf.lastName.touched && cf.lastName.errors?.required">
                  <div class="text-danger py-1">Last name is required.</div>
                </div>
            </div>

            <div class="form-input">
              <label for="phoneNumber">
                <p class="regular-text-blue">Phone Number <span class="required">*</span></p>
              </label>
              <input type="text" id="phoneNumber" name="phoneNumber" placeholder="777-777-7777"  formControlName="phoneNumber" required />
              <div *ngIf="cf.phoneNumber.touched && cf.phoneNumber.errors?.required">
                <div class="text-danger py-1">Phone number is required.</div>
              </div>
              <div *ngIf="cf.phoneNumber.dirty">
                <div class="text-danger py-1" *ngIf="cf.phoneNumber.invalid">
                    Please enter a valid phone number
                </div>
            </div>
            </div>

            <div class="form-input">
              <label for="email">
                <p class="regular-text-blue">Email <span class="required">*</span></p>
              </label>
              <input type="email" id="email" formControlName="email" name="email" class="form-control" required />
              <div *ngIf="cf.email.touched && cf.email.errors?.required">
                <div class="text-danger py-1">Email is required.</div>
              </div>
              <div *ngIf="cf.email.dirty">
                <div class="text-danger py-1" *ngIf="cf.email.invalid">
                  Please enter a valid email address
                </div>
              </div>
            </div>
          </div>

          <div class="form-input-group mb-5">
            <label for="help">
              <p class="regular-text-blue">How can we help you? <span class="required">*</span></p>
            </label>
            <textarea name="help" id="help" formControlName="help" required></textarea>
            <div *ngIf="cf.help.touched && cf.help.errors?.required">
              <div class="text-danger py-1">Help needed is required.</div>
            </div>
          </div>

          <button class="submit" type="submit" [disabled]="!contactUsForm.valid">Send</button>
          <div class="payment-processing" *ngIf="isSubmittingEmail">
            <img src="assets/images/Pulse-1s-167px.svg" alt="processinig payment svg"> <span>.... sending Email</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>