<div class="form-wrapper">
    <p class="heading text-center">Contact Us</p>
    <div class="container form-container">
        <form [formGroup]="contactUsForm" (ngSubmit)="submitForm(contactUsForm)">
            <div class="mb-4">
                <label for="firstName">First Name</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName"
                        formControlName="firstName" required />
                </div>
                <div class="text-center" *ngIf="cf.firstName.touched && cf.firstName.errors?.required">
                    <div class="text-danger py-1">First name is required.</div>
                </div>
            </div>
            <div class="mb-4">
                <label for="lastName">Last Name</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName"
                        formControlName="lastName" required />
                </div>
                <div class="text-center" *ngIf="cf.lastName.touched && cf.lastName.errors?.required">
                    <div class="text-danger py-1">Last name is required.</div>
                </div>
            </div>
            <div class="mb-4">
                <label for="bestNumber">Best Number</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="text" class="form-control" id="bestNumber" placeholder="Best Number" name="bestNumber"
                        formControlName="phoneNumber" required />
                </div>
                <div class="text-center" *ngIf="cf.phoneNumber.touched && cf.phoneNumber.errors?.required">
                    <div class="text-danger py-1">Best number is required.</div>
                </div>
            </div>
            <div class="mb-4">
                <label for="email">Email</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="text" class="form-control" id="email" placeholder="Email" name="email"
                        formControlName="email" required />
                </div>
                <div class="text-center" *ngIf="cf.email.touched && cf.email.errors?.required">
                    <div class="text-danger py-1">Email is required.</div>
                </div>
                <div class="text-center" *ngIf="cf.email.dirty">
                    <div class="text-danger py-1" *ngIf="cf.email.invalid">
                        Please enter a valid email address
                    </div>
                </div>
            </div>
            <div class="help mb-4">
                <label for="help">How can we help you?
                </label>
                <textarea id="help" rows="4" cols="60" name="help" required formControlName="help"></textarea>
                <div class="text-center" *ngIf="cf.help.touched && cf.help.errors?.required">
                    <div class="text-danger py-1">help description is required.</div>
                </div>
            </div>
            <hr class="mb-4" />
            <div class="submit-btn">
                <button [disabled]="!contactUsForm.valid" class="btn btn-primary btn-lg btn-block" type="submit">
                    Send
                </button>
            </div>
        </form>
    </div>
</div>