<section class="section-1">
    <div class="section-1-wrapper">
        <div class="doss-container">
            <div class="section-header">
              <p class="large-text-blue">Contact Us</p>
            </div>

            <div class="section-1-form">
                <form action="#">
                  <div class="form-input-group">
                      <div class="form-input">
                          <label for=""><p class="regular-text-blue">First Name</p></label>
                          <input type="text">
                      </div>

                      <div class="form-input">
                        <label for=""><p class="regular-text-blue">Last Name</p></label>
                        <input type="text">
                      </div>

                      <div class="form-input">
                        <label for=""><p class="regular-text-blue">Phone Number</p></label>
                        <input type="text">
                      </div>

                      <div class="form-input">
                        <label for=""><p class="regular-text-blue">Email</p></label>
                        <input type="text">
                      </div>
                  </div>

                  <div class="form-input-group">
                      <label for="description"><p class="regular-text-blue">How can we help you?</p></label>
                      <textarea name="describe" id="description" ></textarea>
                  </div>

                  <input type="submit" value="Send">
                      
                </form>
            </div>
        </div>
    </div>
</section>