<section>
    <div class="doss-container" style="text-align: center;">
        <div class="section-header">
            <p class="large-text-blue">Terms of Use</p>
        </div>
        <p class="small-text-blue" style="line-height: 1.5;">By using DOSS through our web and mobile applications, you agree to be bound by the
            following Terms of Service, which may be updated periodically.Using DOSS - You agree
            that any information obtained through use of the DOSS web and mobile applications is
            for personal, non-commercial purposes only. You may not to use our service in any way
            that is unlawful or harmful to DOSS, its users, or its partners. Your display of derivative
            works, such as sharing of property photos on social media platforms, is permitted only
            when performed through services and features available on the DOSS platform.
            Commercial use of DOSS is limited to our partners, who collaborate with DOSS to
            provide real estate services to our users. Automated queries are expressly
            prohibited.What We Do - DOSS may or may not act as your real estate agent for buying,
            selling, or leasing properties, or transactions on your behalf. If you choose to use DOSS
            to buy or sell a property, lender, or other real estate professional, you agree to allow
            DOSS to share your contact information with them. You acknowledge that you may
            receive marketing calls or emails from these real estate service providers. If you find a
            real estate professional to work with through DOSS, your relationship with that service
            provider is governed by your mutual agreement with them, as well as any applicable
            laws. Advertising - As advertising is an important source of revenue at DOSS. Using
            information we collect from your use of DOSS services, we can provide you with a more
            personalized experience, which includes serving advertisements based on your location
            and demographic profile. Please review our Privacy Policy to better understand what
            information we collect and how we use it.Third Party Sites - DOSS may include links to
            third party websites, including real estate service providers. Your use of third party sites
            is governed by those sites’ terms and privacy policies. Please review those documents
            prior to sharing any personal information on third party sites. Indemnification - You
            agree that DOSS Group Inc., its affiliates, and respective directors, employees, and
            agents will not be liable for any claims and demands made by a third party arising out of
            your breach of these Terms of Use, your use of the DOSS services, or your violation of
            any laws or the rights of a third party.Choice of Law - Our Terms are governed by the
            laws of the State of Texas. By using DOSS, you agree that any claims arising out of a
            breach of our Terms of Service or though your use of DOSS services will be adjudicated
            in the state and federal courts of Harris County, Texas. DOSS PROVIDES OUR
            SERVICES ON AN “AS IS,” “AS AVAILABLE” BASIS. DOSS AND OUR SERVICE
            PARTNERS DISCLAIM ANY AND ALL WARRANTIES OR CONDITIONS,
            EXPRESS OR IMPLIED, FOR OUR SERVICE, INCLUDING BUT NOT LIMITED TO
            QUALITY, ACCURACY, PERFORMANCE, OR AVAILABILITY.</p>
    </div>
</section>
