<div class="wrapper">
    <section id="heading">
        <div class="heading">
            <p>{{ heading }}</p>
            <div class="sub-heading">{{ subHeading }}</div>
        </div>
    </section>
    <section id="videos">
        <div class="container">
            <div class="videos">
                <video class="video" *ngFor="let video of videos" controls>
                    <source src="{{ video }}" type="video/mp4">
                </video>
            </div>
        </div>
    </section>
    <section id="call-us">
        <app-contact-number></app-contact-number>
    </section>
</div>