<section>
    <div class="doss-wrapper">
        <div class="section-header">
            <p class="large-text-blue" style="text-align: center;">LEARN ABOUT DOSS</p>
            <p class="regular-text-blue" style="text-align: center;">Educational videos</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0; ">Ask DOSS: About DOSS Pros</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/go6yL2jFYNc" allowfullscreen></iframe>
                    </div>
                </div>
    
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0; ">Ask DOSS: The Pitch</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wpZ0RUowmB0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0;">Ask DOSS: Our REALTORS®, are techAGENTS</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/C8HTlcfrqqU" allowfullscreen></iframe>
                    </div>
                </div>
    
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0; ">Ask DOSS: Homebuyer Rebate up to $5,000</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wZLQsHqUIKc" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0; ">Ask DOSS: The DOSS Difference</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LcZkvdvDGnY" allowfullscreen></iframe>
                    </div>
                </div>
    
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0; ">Ask DOSS: Full Service Marketing and Support Plan</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tQvcnGfrs10" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0;">Ask DOSS: Join Us</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vzXSsCT2eOQ" allowfullscreen></iframe>
                    </div>
                </div>
    
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0; ">Ask DOSS: $395 Flat Fee MLS Access</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/V6z8waUpa5w" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0;">Ask DOSS: Purchase a DOSS Home Center Franchise</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oHnu-pNrBag" allowfullscreen></iframe>
                    </div>
                </div>
    
                <div class="col-sm">
                    <p class="small-text-blue" style="margin: 40px 0 15px 0; ">Ask DOSS: $395 Builder and Real Estate Investor Program</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GwTo8TdBqI8" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>