<section>
    <div class="doss-wrapper">
        <div class="section-header">
            <p class="large-text-blue" style="text-align: center;">LEARN ABOUT DOSS</p>
            <p class="regular-text-blue" style="text-align: center;">Educational videos</p>
        </div>

        <div class="video-wrapper">
            <!-- Doss -->
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/go6yL2jFYNc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <!-- The pitch -->
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/wpZ0RUowmB0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <!-- Tech Agents -->
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/C8HTlcfrqqU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <!-- Home buyer rebate -->
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/wZLQsHqUIKc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <!-- Doss Difference -->
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/LcZkvdvDGnY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <!-- Full service marketing -->
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/tQvcnGfrs10" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <!-- Join Us -->
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/vzXSsCT2eOQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <!-- 395 flat fee -->
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/V6z8waUpa5w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <!-- Doss Franchise -->
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/oHnu-pNrBag" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <!-- Builder, Investors -->
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/GwTo8TdBqI8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>