<section id="new-space">
    <app-right-align [textColor]="'blue'">
        <div heading>Do you want a new space?</div>
        <div text>Today, more and more people are deciding to have a flexible lifestyle that empowers them to
            change their environment one year at a time. We have experienced TECH Agents that are ready
            to
            enhance your lifestyle!</div>
        <img pic src="../../../assets/images/image.png" alt="">
    </app-right-align>
    <!-- <div class="row my-5">
            <div class="col-md-6">
                <div class="heading">
                    <p></p>
                </div>
                <div class="message">
                    <p>
                    </p>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div> -->
</section>
<section id="leasing">
    <app-left-align [textColor]="'blue'">
        <div heading>Want help leasing your place?</div>
        <div text>
            Leasing a property and getting the perfect tenant is both an ART and a SCIENCE. Our TECH Agents and
            MEDIA Team can give your property the exposure needed to
            select the right tenant every time!
        </div>
        <img pic src="../../../assets/images/image.png" alt="">
    </app-left-align>
</section>
<section id="experience" class="">
    <div class="text-center">
        <div class="heading">
            <p>It’s all about the experience…</p>
        </div>
    </div>
</section>
<section id="call-us">
    <app-contact-number></app-contact-number>
</section>