* {
  box-sizing: border-box;
  font-family: Inter;
  line-height: 1.2;
}

body {
  margin: 0;
  
}


// ALL TEXT STYLES
.large-text-white {
  font-size: 64px;
  font-weight: 700;
  color: white;
  margin: 0;
}
.regular-text-white {
  font-size: 24px;
  font-weight: 400;
  color: white;
  margin: 0;
}

.large-text-blue {
  font-size: 64px;
  font-weight: 700;
  color: #174D89;
  margin: 0;
}
.regular-text-blue {
  font-size: 24px;
  font-weight: 400;
  color: #174D89;
  margin: 0;
}
.small-text-blue {
  font-size: 18px;
  font-weight: 400;
  color: #174D89;
  margin: 0;
}

@media only screen and (max-width: 1169px) {
  .large-text-white {
    font-size: 48px;
  }
  .regular-text-white {
    font-size: 18px;
  }
  
  .large-text-blue {
    font-size: 48px;
  }
  .regular-text-blue {
    font-size: 18px;
  }
  .small-text-blue {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .large-text-white {
    font-size: 32px;
  }
  .regular-text-white {
    font-size: 14px;
  }
  
  .large-text-blue {
    font-size: 32px;
  }
  .regular-text-blue {
    font-size: 14px;
  }
  .small-text-blue {
    font-size: 12px;
  }
}


// BUTTONS STYLES

// wrap buttons with this container
.button-container {
  width: 100%;
}

.doss-button {
  min-width: 150px;
  height: 50px;

  font-size: 14px;
  color: white;
  background: #174D89;

  border:none;
  border-radius: 5px;
}
.doss-button:hover {
  background: #13457e;
}


@media only screen and (max-width: 1169px) {
  .button-container {
    width: 100%;
    padding: 0 5%;
  }
  .doss-button {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {}




//INFO-CONTAINER, DOSS-CONTAINER, SECTION-HEADER, TEXT BOX AND IMAGE BOX

// typical container to use as needed
.doss-container {
  width: 80vw;
  min-height: 80vh;
  max-width: 1170px;
}

//container for components with image and text
.info-container {
  width: 80vw;
  min-height: 80vh;
  max-width: 1170px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-container-reverse {
  width: 80vw;
  min-height: 80vh;
  max-width: 1170px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

//Header text for each sections. wrap it with doss-container
.section-header {
  margin: 50px 0;
}

.text-box {
  width: 500px;
}
.image-box {
  width: 500px;
}

@media only screen and (max-width: 1169px) {
  .info-container {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info-container-reverse {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .text-box {margin: 50px 0;}
}
@media only screen and (max-width: 767px) {
  .doss-container {width: 90vw;}
  .info-container {width: 90vw;}
  .info-container-reverse {width: 90vw;}

  .text-box {width: 100%;}
  .image-box {width: 100%;}
}