.wrapper {
    .card {
        position: static;
        border: 1px solid #f06e42 !important;
        color: #242528 !important;
        font-size: 1.2rem;
        .card-header {
            display: flex;
            justify-content: space-between;
            background-color: #f06e42 !important;
            h2 {
                flex: 0 2 75%;
            }
            i {
                color: #fff;
            }
        }
        button {
            flex: 0 0 96%;
            text-decoration: none;
            color: #fff;
            text-align: left;
            a {
                text-decoration: underline;
                color: #fff !important;
            }
        }
        .card-body {
            padding: 1.5rem;
            @media only screen and  (min-width: 768px) {
                padding: 2.5rem;
            }
        }
    }
}

