<div
  class="wrapper"
  [style.background-color]="contentService.getColor(bgColor)"
  [style.color]="contentService.getColor(textColor)"
>
  <div class="container">
    <div class="col-md-12">
      <div class="text-center heading">
        <ng-content select="[heading]"></ng-content>
      </div>
    </div>
    <div class="align-content-right">
      <div class="pic">
        <ng-content select="[pic]"></ng-content>
      </div>
      <div class="text">
        <ng-content select="[text]"></ng-content>
      </div>
    </div>
  </div>
</div>
